[2016-02-29 21:47] michaeltorbert opened #1 "Move screenshots out of trunk"
make sure they show up on the .org plugin page

[2016-03-25 21:51] wpsmort opened #2 "Fix compatibility issue with WPML"
I received this email from Yuk at WPML:

We are currently retesting compatibility of your plugin with WPML.  We have found common issue related to showing locations from all languages.

Usually this can be easily fixed by adding 'suppress_filters' => false, to your post query.

Please take a look and fix this so I can send WPML an updated version of SimpleMap to test.

[2016-04-15 13:17] wpsmort opened #3 "Add shortcode option to sort alphanumerically"
This was first requested here - http://support.simplemap-plugin.com/discussions/questions/1370-sort-by-alphabetical-instead-of-by-distance

Add a shortcode option to allow users to order locations by different parameters such as alphanumerically.

[2016-04-15 20:00] arnaudbroes opened #4 "Add featured image support"
Add featured image support

[2016-04-15 20:00] arnaudbroes opened #5 "Add search results pagination"
Add search results pagination

[2016-04-15 20:02] arnaudbroes opened #6 "Better integration with WPML"
Better integration with WPML

[2016-04-15 20:03] arnaudbroes opened #7 "Fix widget / clean up widget options"
Fix widget / clean up widget options

[2016-04-15 20:03] arnaudbroes opened #8 "Fix the upload directory"
Fix the upload directory - http://wordpress.org/support/topic/plugin-simplemap-store-locator-fix-suggestion-for-import-directory

[2016-04-15 20:03] arnaudbroes opened #9 "Fix the permalink refresh issue & flush code optimization"
Fix the permalink refresh issue when you enable location permalinks

[2016-04-15 20:04] arnaudbroes opened #10 "Support for countries, categories and tags in a dropdown"

[2016-04-15 20:06] arnaudbroes opened #11 "Shortcode attribute that allows user to disable scroll wheel and dragging"
Shortcode attribute that allows user to disable scroll wheel and dragging -
also we can add this feature within the backend UI

[2016-04-15 20:06] arnaudbroes opened #12 "Make the map on single locations better"
Make the map on single locations better

[2016-04-15 20:07] arnaudbroes opened #13 "Allow users to search a location by post title"
Allow users to search a location by post title

[2016-04-15 20:07] arnaudbroes opened #14 "Better search by country with a country dropdown built from countries that have been populated"
Better search by country with a country dropdown built from countries that have been populated (JShoes)

[2016-04-15 20:08] arnaudbroes opened #15 "Fix initialization bug where marker initially pans to far left of screen when first clicked"
Fix initialization bug where marker initially pans to far left of screen when first clicked

[2016-04-15 20:08] arnaudbroes opened #16 "Better support for other postal code formats and names"
Better support for other postal code formats and names

[2016-04-15 20:08] arnaudbroes opened #17 "Map pagination, page numbers, previous / next navigation arrows for result list"
Map pagination, page numbers, previous / next navigation arrows for result list

[2016-04-15 20:09] arnaudbroes opened #18 "Add hook for initial additional custom field support"
Added hook for initial additional custom field support

[2016-04-15 20:09] arnaudbroes opened #19 "Add field for searching by location name"
Added field for searching by name.

This should enable a user to search for the location name (i.e. the title of the location post).

[2016-04-15 20:09] arnaudbroes opened #20 "Add alternative(s) for geolocating addresses based on IP"
Add alternative(s) for geolocating addresses based on IP

[2016-04-15 20:09] arnaudbroes opened #21 "Make it easier to control the size of the map bubble"
Make it easier to control the size of the map bubble

[2016-04-15 20:10] arnaudbroes opened #22 "Flesh out the map factory in maps"
Flesh out the map factory in maps

[2016-04-15 20:11] arnaudbroes opened #23 "Simplemap shortcode attribute for adding custom HTML within the search form on simplemap"
Simplemap shortcode attribute for adding custom HTML within the search form on simplemap
- ex: there could be a field called labelbr_custom_ID - and a filter that you could write to customize the text this field will produce.

[2016-04-15 20:11] arnaudbroes opened #24 "Add an interface for adding shortcodes instead of the user memorizing"
Add an interface for adding shortcodes instead of the user memorizing which attributes are available for the simplemap plugin

[2016-04-15 20:12] arnaudbroes opened #25 "Allow the user to add field defaults into search field"
Allow the user to add field defaults into search field so if a user searches for, "columbia", google will at least search for columbia within a specified default country instead of anywhere in the world

[2016-04-15 20:12] arnaudbroes opened #26 "Potential bug - see if Google API scripts need inclusion in the admin area"
See if / when Google API scripts need inclusion in the admin area

[2016-04-15 20:13] arnaudbroes opened #27 "Implement suggestions in email from Dave Iltis"
Implement suggestions in email from Dave Iltis <dave@cyclingutah.com> dated 02/05/2013

[2016-04-15 20:14] arnaudbroes opened #28 "Allow user to change size of the map on internal location pages and set displayed information"
Allow user to change size of the map on internal location pages, and allow the user to determine exactly what kind of information is display in the singular location information box

[2016-04-15 20:16] arnaudbroes opened #29 "Custom markers add-on with custom markers by location category or tag"

[2016-04-15 20:17] arnaudbroes opened #30 "Sorting/prioritizing and randomizing of location results"
Sorting/prioritizing and randomizing of location results (123Dentist)

[2016-04-15 20:18] arnaudbroes opened #31 "Custom location icons"
Custom location icons (Paragon Vision Sciences)

[2016-04-15 20:18] arnaudbroes opened #32 "Google Analytics tracking on searches"
Google Analytics tracking on searches (Aids Healthcare Foundation)

[2016-04-15 20:19] arnaudbroes opened #33 "Front end form for adding locations"
Front end form for adding locations

[2016-04-15 20:20] arnaudbroes opened #34 "Add an interface for adding / removing custom fields from Simplemap"
Add an interface for adding / removing custom fields from Simplemap

[2016-04-15 20:21] arnaudbroes opened #35 "Rewrite settings and options to use our backend module framework"
Rewrite settings and options to use our backend module framework

[2016-04-15 20:21] arnaudbroes opened #36 "Rewrite dynamically generated Javascript to use a static Javascript file plus localization"
Rewrite dynamically generated Javascript to use a static Javascript file plus localization

[2016-04-15 20:21] arnaudbroes opened #37 "Add the ability to turn another CPT into a simple map enabled CPT"
Add the ability to turn another CPT into a simple map enabled CPT

[2016-04-15 20:22] arnaudbroes opened #38 "Allow for separating locations across maps and having multiple maps"
Allow for separating locations across maps and having multiple maps

[2016-04-15 20:22] arnaudbroes opened #39 "More / better hooks - add one for the Search form content before it's generated"

[2016-04-15 20:23] arnaudbroes opened #40 "Limit number of results displayed"
Limit number of results displayed as per conversation with Frank - http://support.simplemap-plugin.com/discussions/problems/1586-not-working-on-a-test-site-im-building

[2016-04-15 20:25] arnaudbroes opened #41 "Feature request - integration with a form plugin such as Contact Form 7 for email forms"
see this thread: http://support.simplemap-plugin.com/discussions/problems/1648-listing-ok-but-clicking-clips-the-detailed-entry

[2016-05-08 13:50] michaeltorbert opened #42 "take care of some of the low-hanging fruite from scrutinizer"
https://scrutinizer-ci.com/g/semperfiwebdesign/simplemap/inspections/e2c64b7c-227f-45ed-9ca2-92716c87afec

[2016-05-26 20:16] wpsmort opened #43 "Make sure we comply with Google Maps API usage guidelines"
This is from a contact form submission on May 26th, 2016 from Chase Anderson (chase.t.anderson@gmail.com):

I received an email from a Google maps support rep. They advised a few problems with the maps api usage in the plugin. I wanted to share their feedback with you here. Please let me know if you plan on supporting changes according to their information:

Please note you can remove the sensor p

[2016-06-09 18:29] wpsmort opened #44 "Verify we're enqueuing scripts using the correct method"
This is in relation to Premium Support Forum post here - http://support.simplemap-plugin.com/discussions/problems/2478-map-not-loading

Specifically, the map is broken because of a jQuery issue in the custom theme. The developer of the custom theme responded with this:

Our theme can't use the default jquery provided by WordPress, and we have de-registered this one and registered a new one from CD

[2016-06-09 18:33] michaeltorbert commented on #44
I'll need a copy of the theme.

[2016-06-10 16:11] wpsmort opened #45 "Review the SimpleMap add-ons we've developed for inclusion"
Over the years we have developed various add-ons for SimpleMap for different paying customers.  We should collect all of these together and review them for inclusion in the core plugin.

[2016-06-13 16:18] michaeltorbert opened #46 "See how we're using parsecsv and if we can update"

[2016-06-13 22:09] #46 closed

[2016-06-13 22:12] michaeltorbert opened #47 "Move javascript to its own file"
Use wp_localize_script as needed for variables

[2016-06-13 23:23] michaeltorbert opened #48 "Move styling to one or more CSS files"

[2016-06-14 16:58] michaeltorbert commented on #37
@wpsmort Can you provide more details about this?

[2016-06-14 17:01] michaeltorbert commented on #27
We should probably separate these suggestions into individual issues.

1. The individual location page map is awful!!
Here is an example of a better, but not ideal page:
cyclingutah.com/bike-shop/bingham-cyclery/
The map is 400x400 instead of 100x100. The smaller map is a complete waste. The larger map is better but not ideal. To make it ideal, you need to easily allow clicking on the map to open

[2016-06-14 17:08] arnaudbroes commented on #27
@michaeltorbert Do you want me to add them all seperately? Just let me know and I'll do it in a bit.

[2016-06-14 18:44] michaeltorbert opened #49 "toplevel menu isn't expanded if on CTP/CTaxon page"
Since these aren't the real pages, and we hijacked the menu to show them under the SimpleMap top-level menu, the menu isn't expanded as it otherwise would be.

[2016-06-14 20:02] wpsmort opened #50 "Compare Version 2.5 branch to v2.4.8"
See what code we want to keep from Peter's v2.5 plugin

[2016-06-15 14:29] michaeltorbert opened #51 "admin screens should be for admins only"

[2016-06-15 14:30] michaeltorbert opened #52 "make custom caps and roles to use for various functionality"
potentially, and this may be a long term improvement to this, someone could have rights to manage locations (cpt) but not the rest of the plugin... in this case, we may want to show them the regular locations cpt rather than our hacked up version in our top level menu

[2016-06-15 14:31] michaeltorbert opened #53 "protect functions by checking is_admin (wp-admin) and cap"

[2016-06-15 17:47] wpsmort commented on #37
@michaeltorbert Occasionally we will have users ask if they can use a different CPT for their locations.

A good example of this is that they are using a business directory plugin or theme which has a CPT for the directory entries.  They want to be able to add location information to the directory entries and have them show up on a map.

The way I envision this working is, under SimpleMap in an ad

[2016-06-15 18:10] wpsmort commented on #41
The goal here is to have a Contact Us link as shown in the mockup below, that when clicked, will open a contact form embedded from any one of the most popular forms plugins.

<img width="876" alt="screen shot 2016-06-15 at 2 09 44 pm 3" src="https://cloud.githubusercontent.com/assets/17548525/16091716/e627ccc6-3302-11e6-8f22-e8735b15415d.png">

[2016-06-15 18:18] wpsmort commented on #17
This is a duplicate of #5

[2016-06-15 18:18] #17 closed

[2016-06-15 18:19] wpsmort commented on #5
This is related to #40

[2016-06-15 18:25] wpsmort commented on #40
We've had this request in different forms on a number of occasions.  Google Maps API now supports clustering of markers (https://developers.google.com/maps/articles/toomanymarkers).  A number of users have asked us to add support for this.

The working example here is customers who are global and use SimpleMap to display all their locations across the world, but this results in too many markers.

[2016-06-15 18:26] wpsmort commented on #5
I believe there should be code for this in SimpleMap v2.5.

[2016-06-15 18:36] wpsmort commented on #38
SimpleMap is used by some very large global companies. This feature is for them.

Some customers have different global divisions and want to use SimpleMap on separate pages for each division.  For example, on their European division page would be SimpleMap displaying just European locations.  But on their US division page would be SimpleMap displaying just their US locations.

The workaround for t

[2016-06-15 19:05] wpsmort opened #54 "Make SimpleMap mobile friendly"
Improve the display of the search form, map and location results so they are responsive.

Make phone numbers clickable so they dial the number on mobile devices.

[2016-06-15 19:25] wpsmort commented on #34
This is a very popular request, especially among users who try to use SimpleMap as a directory.  A good example of this is the work we did for a client where we added custom fields for text and images.  See screenshots from that project below:

![profile-new](https://cloud.githubusercontent.com/assets/17548525/16094266/6f279290-330d-11e6-97cb-39beb12c8a20.jpg)
![serps-new](https://cloud.githubuser

[2016-06-15 19:37] wpsmort commented on #33
This is a common request and we typically use Gravity Forms for this but we might want to consider adding this as a potential feature into SimpleMap.

[2016-06-15 19:38] wpsmort commented on #32
Here is the code we already developed for this:

[ga-tracking for SimpleMap.txt](https://github.com/semperfiwebdesign/simplemap/files/317028/ga-tracking.for.SimpleMap.txt)

[2016-06-15 19:43] wpsmort commented on #31
This is a duplicate of #29

[2016-06-15 19:43] #31 closed

[2016-06-15 19:49] wpsmort commented on #29
This is one of the most commonly requested features.

This is the KB article with code that we point users to when they ask for custom markers - http://support.simplemap-plugin.com/kb/setup-installation/adding-custom-markers.  There is also documentation on Google's Maps API site about this.

We need an interface to set a custom marker for a singular location, by location category, or by location

[2016-06-15 19:59] wpsmort commented on #30
There is an add-on plugin for this called sfwd-sm-sorting here - https://github.com/semperfiwebdesign/simplemap/blob/add-ons/add-ons/sfwd-sm-sorting.php

We should extend this to add two dropdowns to the General Settings for selecting the sort order and order direction (orderby and order - as per WP_Query).  One option will be manual where users can set the order in the Order field in each locatio

[2016-06-15 20:03] wpsmort commented on #28
This is a duplicate of #12

[2016-06-15 20:03] #28 closed

[2016-06-15 20:10] wpsmort commented on #13
This is a duplicate of #19

[2016-06-15 20:10] #13 closed

[2016-06-15 20:12] wpsmort commented on #19
This should have been in the code for SimpleMap v2.5

[2016-06-15 20:14] wpsmort commented on #4
There is an add-on called simplemap-thumbs for this that does work - https://github.com/semperfiwebdesign/simplemap/blob/add-ons/add-ons/simplemap-thumbs.php

[2016-06-15 20:22] wpsmort commented on #3
Closing this in favor of issue #30 which adds a UI for this.

[2016-06-15 20:22] #3 closed

[2016-06-15 20:25] wpsmort opened #55 "Improve the look of the singular location page"
See also #12 and #27

We should review the single-location template and make improvements to the appearance.

Make sure this page is responsive.

~~Review the use of the featured image on this page~~ - see issue #4

~~Include the Visit Website link to open in a new tab.~~ #164

~~Make the Get Directions link open in a new tab.~~ #61

~~Add Phone: and Email: before those entries just like the locat

[2016-06-15 20:28] wpsmort commented on #12
Make the map clickable (see issue #27)

[2016-06-15 20:35] wpsmort opened #56 "Make sure singular locations can be indexed by search engines"
This is from #27

[2016-06-15 20:45] wpsmort opened #57 "Fix bug with location results separator"
See screenshot below:

<img width="993" alt="screen-capture" src="https://cloud.githubusercontent.com/assets/17548525/16096772/7b101298-3318-11e6-89d0-5efa2dc2a6d0.png">

First reported by RockTape (rocktape.com/us/find-retailer/)

[2016-06-15 20:49] wpsmort opened #58 "Limit which users can add/edit/delete locations"
Currently, all user roles can add a new location. We need to have the same role restrictions as with any other post type.

[2016-06-15 20:55] wpsmort opened #59 "Add support for reviews/ratings"
This was first suggested by Dave Iltis (see issue #27) and has been requested a number of times.

We should consider including support for ratings and reviews of locations similar to Yelp and Google Maps.  We should make sure that this includes the relevant Schema.org markup.

<img width="389" alt="screen-capture-1" src="https://cloud.githubusercontent.com/assets/17548525/16097082/f0c07f40-3319-11

[2016-06-15 20:55] wpsmort commented on #27
I have broken this out into new issues - #55, #56, #58 and #59

[2016-06-15 20:55] #27 closed

[2016-06-15 21:00] wpsmort commented on #25
This is a regularly reported issue from users.  They search for a location and it returns results from another country or state.  This also happens with ZIP codes, some users report they get results in a different country or no results at all when searching just by ZIP.

[2016-06-15 21:04] wpsmort commented on #24
This should be similar to how Gravity Forms and other plugins work.  We can have a button that launches a popup just like Gravity Forms, see screenshot:

![screen-capture](https://cloud.githubusercontent.com/assets/17548525/16097318/3fe4c8f0-331b-11e6-9786-ed4ef262f769.png)

[2016-06-15 21:10] wpsmort commented on #21
The map bubble needs significant improvement.  We get a lot of complaints about vertical scroll bar appearing if there is more content than the fixed height will allow.  We also get a lot of questions about how to customize the look of the bubble.

<img width="632" alt="screen shot 2016-06-15 at 5 09 07 pm" src="https://cloud.githubusercontent.com/assets/17548525/16097495/0d6121ac-331c-11e6-8f8d-e

[2016-06-15 21:14] wpsmort commented on #20
The service we use for IP geolocation has shut down - http://www.telize.com/

We urgently need to remove this option from the plugin.  Anyone currently using IP Address for Auto-Detect Location has a broken map which has resulted in a lot of support forum posts and emails.

We eventually need to find a replacement free IP geolocation service.

[2016-06-15 21:17] wpsmort commented on #18
This code should be in SimpleMap v2.5

[2016-06-15 21:21] wpsmort commented on #16
This is requested very frequently.  We don't do a good job of supporting all the different types of postal codes.  There is a list of these here - https://en.wikipedia.org/wiki/List_of_postal_codes.  Postal codes are known by different names, there is a list here - https://en.wikipedia.org/wiki/Postal_code

Based on the Default Country you select in SimpleMap, we should return the correct naming c

[2016-06-15 21:22] wpsmort commented on #15
There may be code for this in SimpleMap v2.5.

[2016-06-15 21:35] wpsmort commented on #14
There may be code for this in SimpleMap v2.5.

The idea here is that if I add 5 locations (2 in the USA, 1 in Canada, and 1 in the UK) then the search form will display a dropdown that lists the three countries.

[2016-06-15 21:39] wpsmort commented on #10
This is a frequent request from users.  Currently categories and tags appear on the search form as checkboxes.  It's possible to use the shortcode [simplemap taxonomy_field_type='select'] to display a dropdown instead.  We just need an option to set this by default in the plugin General Options screen.

[2016-06-15 22:00] wpsmort commented on #45
I have completed a review and testing of all add-ons we've developed and found only two that will work.  These have been committed to the add-ons branch and referenced in the issues related to them

[2016-06-15 22:00] #45 closed

[2016-06-16 14:45] michaeltorbert commented on #57
<img width="956" alt="screen shot 2016-06-16 at 10 45 20 am" src="https://cloud.githubusercontent.com/assets/17364998/16120998/7a94b8d6-33af-11e6-8998-5a4524b61810.png">

[2016-06-16 14:48] michaeltorbert commented on #57
<img width="513" alt="screen shot 2016-06-16 at 10 48 10 am" src="https://cloud.githubusercontent.com/assets/17364998/16121094/df59644c-33af-11e6-9dfb-ebc6a61ad596.png">

[2016-06-16 15:49] wpsmort commented on #56
We've set up the XML Sitemap on http://simplemap-plugin.com/ to include the singular locations.  We need to watch and see if Google picks these up from the sitemap.

We also need to figure out why Google doesn't follow the links to singular locations when the map auto loads all locations.  It appears that JavaScript dynamically outputs the locations so they don't appear in the HTML source code.

[2016-06-16 15:55] wpsmort opened #60 "Add option and shortcode for location archive page"
Currently, there is no archive page for the location custom post type.

We should add an option to enable this and select which page you want to us as the archive page (like WooCommerce).

We should also add a shortcode that can be placed on any page to output the location archive.

See also #56

[2016-06-16 15:55] wpsmort commented on #56
See also #60

[2016-06-16 19:50] michaeltorbert opened #61 "Get Directions on singular location should open in a new tab"
from #55

[2016-06-16 20:03] wpsmort opened #62 "Clicking on a location should display the location marker on the map"
When you click on a location in the results, it should display the location marker on the map above.  See screenshot below:

<img width="628" alt="screen-capture" src="https://cloud.githubusercontent.com/assets/17548525/16131311/9b087fea-33db-11e6-9ea9-5c3a9a326dd8.png">

However, if you have Location Permalinks enabled then this behavior changes and instead it opens the singular location page.

W

[2016-06-16 20:36] wpsmort opened #63 "Bug in SimpleMap Thumbs add-on that breaks the map bubble"
There is a bug in the add-on for SimpleMap Thumbs (https://github.com/semperfiwebdesign/simplemap/blob/add-ons/add-ons/simplemap-thumbs.php) that breaks the map bubbles.  See screenshot.

<img width="864" alt="screen-capture" src="https://cloud.githubusercontent.com/assets/17548525/16132261/68a99a98-33e0-11e6-95b8-ac77f45b8ac6.png">

[2016-06-16 20:36] wpsmort commented on #4
See bug reported in issue #63

[2016-06-16 20:52] michaeltorbert opened #64 "Neither of the delete buttons delete anything"
Nonce also appears to be incorrectly applied

[2016-06-16 20:53] wpsmort commented on #61
This has been tested and is good.

[2016-06-16 20:53] #61 closed

[2016-06-16 21:08] wpsmort commented on #58
I have verified that the correct user levels can perform the correct tasks.

A Subscriber cannot see SimpleMap in the admin.
A Contributor cannot see SimpleMap in the admin.
An Author can add, publish and edit their own location only.
An Editor can add, publish and edit others locations.

[2016-06-16 21:08] #58 closed

[2016-06-16 21:12] michaeltorbert commented on #58
Is this something fixed or something never broken?

[2016-06-16 21:14] wpsmort commented on #57
This is fixed.

[2016-06-16 21:14] #57 closed

[2016-06-16 21:17] wpsmort commented on #58
It was never broken to begin with.

[2016-06-16 22:27] michaeltorbert commented on #6
Duplicate of #2

[2016-06-16 22:27] #6 closed

[2016-06-16 23:02] wpsmort opened #65 "light.css and dark.css are no longer loading on single location"
The stylesheets are no longer being called on the singular location page.  This is a new bug.

[2016-06-17 00:34] michaeltorbert commented on #2
The query isn't a "post query" per se, it's in xml-search.php ( 92-134 ), there's not really a suppress_filters anyway so I'm not really sure what we should do here.

[2016-06-17 00:36] michaeltorbert commented on #2
According to this link, direct queries bypass WPML's filters.
 https://wpml.org/forums/topic/manual-custom-post-type-query/

[2016-06-17 00:47] michaeltorbert opened #66 "menus"
Instead of adding CPT and taxonomy menus to ours, why not add ours to theirs?

[2016-06-17 00:57] michaeltorbert commented on #2
@wpsmort Looking through those links, it looks like if we're not using are regular WordPress query, we can include WPML stuff in the query instead, but I'm not sure of the exact details.

[2016-06-17 01:22] michaeltorbert opened #67 "fix the donate link"
Fix it in admin, check the readme as well

[2016-06-17 14:09] michaeltorbert commented on #2
@wpsmort This mostly seems to work, at least for single locations, although you can't select the language on the map page... js conflict? because the map page isn't translated?

[2016-06-17 17:09] michaeltorbert commented on #2
Ok the main map page should be working now

[2016-06-17 17:57] wpsmort opened #68 "Remove Auto-Detect Location by IP Address option"
The service we use for IP geolocation has shut down - http://www.telize.com/

We urgently need to remove this option from the plugin. Anyone currently using IP Address for Auto-Detect Location has a broken map which has resulted in a lot of support forum posts and emails.

We will eventually need to find a replacement free IP geolocation service. See issue #20

<img width="829" alt="screenshot" sr

[2016-06-17 18:21] wpsmort commented on #20
These are the three services that WooCommerce uses:

'freegeoip'        => 'https://freegeoip.net/json/%s',
'telize'           => 'http://www.telize.com/geoip/%s',
'geoip-api.meteor' => 'http://geoip-api.meteor.com/lookup/%s

[2016-06-17 18:26] michaeltorbert opened #69 "modify geolocation message for html to require ssl"
The message should let people know the HTML5 option now requires a secure connection (https/ssl) with some browsers.

[2016-06-17 18:55] wpsmort opened #70 "Signup Now links should open in new tab"

[2016-06-17 18:57] wpsmort commented on #70
This is done.

[2016-06-17 18:57] #70 closed

[2016-06-17 19:03] #67 closed

[2016-06-17 19:04] michaeltorbert commented on #68
This is fixed and should work with the freegeoip service

[2016-06-17 19:36] michaeltorbert opened #71 "look into having a better than 2mb file size import"
Is there a technical reason for this limitation?

[2016-06-17 19:39] michaeltorbert opened #72 "request for review"
We should include a request for review... make this a reusable class that can be included in the other plugins as well.

[2016-06-17 19:43] michaeltorbert opened #73 "fix for when the theme or another plugin is calling the Google Maps API"
https://wordpress.org/support/topic/cant-zoom-interact-with-map?replies=5

[2016-06-17 19:44] michaeltorbert opened #74 "fix localization for the plugin"
make sure we can translate to any language

[2016-06-17 19:44] michaeltorbert opened #75 "include a translation request in the plugin"
-similar to how we do in AIOSEOP (make a reusable class)
-related to #74

[2016-06-17 19:46] wpsmort opened #76 "Scrollbar on map bubble doesn't appear in Chrome and Safari"
There is a known issue with the overflow scroll bar not showing in Chrome and Safari - https://www.sitepoint.com/community/t/vert-scroll-bar-for-overflow-auto-not-working-in-chrome/7615

This is a bug webkit.

The article above has workarounds for this which we should look at.

[2016-06-17 19:53] michaeltorbert opened #77 "license request renewal doesn't seem to depend on whether they had one"
Is this a side-effect of the merge, and is there anything we can do about it other than wait until we're on the new system?

[2016-06-17 19:55] wpsmort commented on #69
This is good

[2016-06-17 19:55] #69 closed

[2016-06-17 19:58] wpsmort commented on #68
This is tested and works.

[2016-06-17 19:58] #68 closed

[2016-06-17 20:00] wpsmort commented on #62
This is no longer an issue and doesn't appear to have ever been an issue.

[2016-06-17 20:00] #62 closed

[2016-06-17 20:13] wpsmort commented on #65
I have confirmed this is not a valid issue, it only affected my local dev site.

[2016-06-17 20:13] #65 closed

[2016-06-17 20:33] wpsmort commented on #2
This is fixed if you're using WPML language format set to Language name added as a parameter but not if you use Different languages in directories or A different domain per language.  I have opened a new issue for this.

[2016-06-17 20:33] #2 closed

[2016-06-17 20:34] wpsmort opened #79 "Fix support for WPML language formats using subdirectories or subdomains"
See issue #2

We added code in SimpleMap v2.4.9 to fix a compatibility issue with WPML.  This only fixed the issue if you use WPML language format set to Language name added as a parameter.

We need to revisit this and see if we can fix the issue with the other two language formats - Different languages in directories or A different domain per language

[2016-06-17 20:36] wpsmort opened #80 "Get a list of websites using SimpleMap"
Maintain a list of customers who use the plugin for reference.

[2016-06-17 20:50] michaeltorbert opened #81 "investigate conflict with SiteOrigin Page Builder plugin"
reported here https://wordpress.org/support/topic/home-page-content-in-the-place-of-contact-description?replies=3

[2016-06-17 20:58] michaeltorbert opened #82 "Improve screenshots, including mobile"
Something like this https://ps.w.org/simple-map/assets/screenshot-3.png?rev=1280197

[2016-06-17 21:16] wpsmort commented on #80
I have uploaded a spreadsheet with customer data to our Google Drive

[2016-06-17 21:16] #80 closed

[2016-06-17 21:46] michaeltorbert commented on #80
also the xml file from publicwww.com

[2016-06-20 14:28] michaeltorbert opened #83 "Investigate possible 500 error"
reported here https://wordpress.org/support/topic/fatal-error-2139?replies=3#post-8547189

[2016-06-30 20:13] wpsmort opened #84 "Google now needs an API key"
SimpleMap users started complaining of issues with performing searched.   Upon investigation it appears that Google changed the requirements for accessing their API and now you have to have an API key - https://developers.google.com/maps/documentation/javascript/get-api-key

[2016-06-30 20:19] michaeltorbert opened #85 "Consider whether we should reduce PHP requirements from 5.3 to 5.2"
We inadvertently introduced a PHP 5.3 requirement in the most recent version of SimpleMaps.
$default_lat    = $instance['default_lat'] ?: 0;
		$default_lng    = $instance['default_lng'] ?: 0;
		$simplemap_page = $instance['simplemap_page'] ?: 2;

widgets.php line 54

[2016-06-30 20:47] michaeltorbert commented on #84
@wpsmort I think it can still use some improvement, but this works if they enter an API key.

[2016-07-05 15:23] wpsmort opened #88 "SimpleMap Thumbnail add-on breaks the map bubble"
The function sfwd_sm_override_createmarker in the SimpleMap Thumbnail add-on is breaking the map bubble in SimpleMap.  When you click on a map marker you get no bubble like this:

<img width="813" alt="screen shot 2017-02-09 at 1 26 24 pm" src="https://cloud.githubusercontent.com/assets/17548525/22797179/6840c5a8-eecb-11e6-9582-50e64fbcbfb7.png">

[2016-07-08 16:50] unclhos opened #89 "Import into category fails"
File: import-export.php
Line 480

The "is_wp_error" needs to be in a seperate if statement. Give a "term is undefined" error when within the same if statement and does not add the location to the category.

[2016-07-15 11:54] mashoodahmad123 opened #90 "Hi"
HI

I am getting problem in your plugin. Actually we changed the hosting server so we upload everything on new server. Every thing is working perfect except to your plugin.

Actually your site map plugin working fine on my old server and also working fine on my local machine but not working on new(current) server. we have checked everything twice and all configratuion same.

Can you plz let me kno

[2016-07-15 14:21] wpsmort commented on #90
Please use the support forums for support questions.  We will not respond to support questions posted on Github.

[2016-07-15 14:21] #90 closed

[2016-07-15 15:07] michaeltorbert opened #91 "Don't use PHP 5.3 shorthand ternary operators."
Reported here https://wordpress.org/support/topic/fatal-error-2139?replies=6#post-8643634
In 2.4.9, we inadvertently introduced a PHP 5.3 requirement. We should check other plugins for this issue as well, specifically AIOSEOP.

[2016-07-18 15:57] wpsmort opened #92 "New searches do not close map bubbles previously opened"
When you perform a search and click on a map marker to display the bubble for that location, then perform a new search, the map bubble from the previous search is still open.

This was first reported by Greg Montano by email on 07/18/2016.

[2016-07-21 14:11] michaeltorbert opened #93 "Improve search/columns in CPT edit.php"
Reported here: https://wordpress.org/support/topic/plugin-still-works-like-a-charm?replies=3

[2016-07-22 01:03] michaeltorbert opened #94 "Compile a list of sites using simplemaps"
A combination of nicely customized and large or famous sites.

[2016-07-22 01:03] michaeltorbert opened #95 "Add to builtwith"
http://builtwith.com/www.simplemap-plugin.com Currently, we're not listed here.

[2016-08-16 20:26] michaeltorbert opened #96 "merge changes from fork"
github.com/zyphlar/simplemap/commits/master

[2016-08-17 19:18] michaeltorbert opened #97 "Make sure we're translatable with the new system at translate.wp.org"

[2016-08-29 15:05] wpsmort opened #98 "Location importer no longer applies categories or tags"
In version 2.4.9 we broke the Location Importer so that when you import locations with categories or tags, the categories and tags no longer get applied to the locations.  Instead all categories and tags have zero posts.  This worked fine prior to v2.4.9

First reported in the SimpleMap Premium Support forum here - http://support.simplemap-plugin.com/discussions/problems/2552-plugin-import-not-cat

[2016-09-05 15:27] michaeltorbert opened #99 "Remove old support message from tenderapp"
"Official support by the developer (me) has been frozen indefinitely.
Ownership of the SimpleMap plugin has been transfered to FullThrottle Development so that maintenance and enhancements to the plugin may continue after Alison's departure. Thank you for using SimpleMap!"

[2016-09-06 17:18] wpsmort opened #100 "Remove Tenderapp as the support option"
Remove Tenderapp and convert to using SimplePress for support of SimpleMap.

[2016-09-09 16:21] wpsmort opened #101 "Importer should support custom fields"
This feature is often requested, most recently here - http://support.simplemap-plugin.com/discussions/problems/2558-location-days-and-time

We currently have sample code for reregistering the Location CPT with custom fields enabled - http://support.simplemap-plugin.com/kb/setup-installation/adding-custom-fields-to-the-locations-custom-post-type.  We have an issue #34 open to add better support in

[2016-09-19 18:36] wpsmort opened #102 "Conflict with WPML not loading all locations"
This has been reported twice in the forums -
http://support.simplemap-plugin.com/discussions/problems/2570-missing-listings
(edit: first link not working - Arnaud)
http://support.simplemap-plugin.com/discussions/questions/1401-issue-adding-new-locations

I have been able to replicate this on my local test site.  I have traced it back to v2.4.9 of SimpleMap.

When WPML is active, locations don't lo

[2016-09-20 16:36] wpsmort opened #103 "Missing location data after restoring from trash"
First reported here - http://support.simplemap-plugin.com/discussions/problems/2574-missing-data

When you move a location to Trash and then restore it, all of the location fields are blank.  This has been a bug since before version 2.0.

[2016-09-26 14:48] michaeltorbert opened #104 "Fatal error Call to a member function get_options() on a non-object"
Fatal error: Call to a member function get_options() on a non-object in /home/domainname/web/wp-content/plugins/simplemap/classes/maps.php on line 121

Reported here: https://wordpress.org/support/topic/fatal-error-2139/#post-8215368

They claimed this error was resolved by asking their host to increase the memory from 128 to 256M.

So far I can't reproduce this.

[2016-09-26 14:49] michaeltorbert opened #105 "Bug report: Remove all data from the database doesn't work"
"clicking on “Clicking this link will remove all data from the database.” and then clicking OK on the popup does not remove anything from the database as all my settings were still present after deleting and installing a clean version of the plugin to try and elminate the error."

Reported here: https://wordpress.org/support/topic/fatal-error-2139/#post-8215368

[2016-10-10 01:19] jesspritchard opened #106 "Premium Support? Custom Markers?"
Hi Team,

I know this isn't the correct place to send this message however I tried contacting you through your online contact form and have not heard back.

I recently purchased the Premium Support through your website however it was linked to the live domain but the website is currently only in development and not live. How can I access the Premium Support so that I can do Custom Markers without

[2016-10-10 15:06] wpsmort commented on #106
We responded to your email on October 6th. Please email us if you need anything else.

[2016-10-10 15:06] #106 closed

[2016-10-25 18:45] wpsmort commented on #55
Suggested code from Dave Iltis:

In templates.php, change to a larger map and add the website URL.  Code to fix is below. Change 100 to 400 and add the website URL...

[code]

[2016-10-25 18:46] wpsmort commented on #12
Suggested code from Dave Iltis:

In templates.php, change to a larger map and add the website URL.  Code to fix is below. Change 100 to 400 and add the website URL...

[code]

[2016-11-03 16:37] michaeltorbert commented on #9
@wpsmort What is this issue?

[2016-11-03 19:36] michaeltorbert opened #107 "Remove variables from localized strings"
related to #74

[2016-11-03 19:40] michaeltorbert opened #108 "Filterable Field input labels are translatable"
in simplemap.php
We need to investigate what kind of problems this may cause...

`				'label' => apply_filters( 'sm-search-label-street', __( 'Street: ', 'SimpleMap' ), $post ),
`

Related to #74

[2016-11-03 19:54] michaeltorbert opened #109 "Inappropriate things are translatable"
URLs, my name, etc

Related to #107

[2016-11-03 22:06] michaeltorbert commented on #76
@wpsmort Is this fixed? It works for me in Chrome.

[2016-11-03 22:14] michaeltorbert opened #110 "Use dashicon for top-level menu"

[2016-11-03 22:15] michaeltorbert opened #111 "Remove icon.png"
This was used for the top level menu icon, which we've replaced with a dashicon in #110
Make sure to remind Michael to also svn rm this in the .org repo when releasing this version.

[2016-11-04 18:32] arnaudbroes commented on #82
@michaeltorbert are these for this page?
https://nl.wordpress.org/plugins/simplemap/screenshots/

[2016-11-04 21:26] michaeltorbert commented on #82
Yep. :)

[2016-11-05 13:09] michaeltorbert opened #112 "Change WP requirement to 3.0"
We claim 2.8 as the requirement, but it's really 3.0.

[2016-11-05 13:11] michaeltorbert opened #113 "Remove early check for WP 3.0"
At the beginning of loading the plugin, we check for the required version (3.0) and attempt to quit gracefully. Checking for a 6-year old version of WP on every pageload seems unnecessary.

Related to #112

[2016-11-05 13:14] michaeltorbert commented on #84
@wpsmort This is marked as needs testing for 2.4.10... did we complete this?

[2016-11-05 13:29] michaeltorbert opened #114 "Remove extra code defining custom table name constants"
I'm pretty sure we haven't used custom tables in years.

[2016-11-05 13:30] michaeltorbert commented on #114
For testing, we should activate every single thing in the plugin, add content in every way, and verify that a) nothing breaks, and b) no custom tables are created.

[2016-11-06 14:40] michaeltorbert opened #115 "Clicking to remove all data asks "are you sure""
This is likely from some issue not properly verifying the referrer or nonce or something.

Related to #105

[2016-11-06 14:41] michaeltorbert commented on #105
I've confirmed that the link to delete locations (CPT entries) only works, but the link to remove all data does nothing.

[2016-11-06 15:10] michaeltorbert opened #116 "Add/edit locations doesn't show expanded menu"
See if this is new

[2016-11-06 17:23] michaeltorbert commented on #49
Duplicate of #116

[2016-11-06 17:23] #49 closed

[2016-11-06 17:24] michaeltorbert commented on #116
Related to #66

[2016-11-06 17:45] michaeltorbert commented on #66
For this and #116, we can either 1) keep menus the same and do some trickery so that locations CPT menu expands or else 2) add our stuff to the built-in (but currently hidden) CTP menu.
Option 2 would mean that options pages aren't at the top and general options isn't the default page. This *may be able to be changed.

[2016-11-06 23:03] michaeltorbert commented on #98
@arnaudbroes Can you figure out which commit caused this to break? It probably happened sometime around the June 13 or June 14 commits https://github.com/semperfiwebdesign/simplemap/commits/master

[2016-11-06 23:04] michaeltorbert commented on #102
@arnaudbroes Can you determine which commit caused this to break?

[2016-11-06 23:28] michaeltorbert commented on #97
https://translate.wordpress.org/projects/wp-plugins/simplemap

[2016-11-06 23:28] #97 closed

[2016-11-06 23:32] michaeltorbert commented on #34
@wpsmort Do we have this code somewhere?

[2016-11-08 14:48] wpsmort opened #117 "Manually entered coordinates get changed on save"
First reported here - http://support.simplemap-plugin.com/discussions/problems/2600-issue-with-longlat-entry

When you manually enter the coordinates in a location then the coordinates get changed upon updating the post.

Tested with these coordinates - 38.946057 / -91.9390670

[2016-11-08 19:22] arnaudbroes commented on #102
Not sure if I'm able to test this.
All versions below 2.4.10.1 don't have the Google API option and can't load Google Maps so I can't check the results.
@michaeltorbert

[2016-11-08 19:51] michaeltorbert commented on #102
I'll see if I can write a quick plugin that adds the API key to older versions.

[2016-11-08 20:26] arnaudbroes commented on #102
Ok cool. :-)

[2016-11-09 18:19] michaeltorbert commented on #102
@arnaudbroes Ok so it doesn't look like that's something I can easily write an add-on plugin for... you may need to just manually add the api key code back in to what you're testing...

https://github.com/semperfiwebdesign/simplemap/commit/2004d4a21cfc14f5eaf1895d387e5fa0c6641e04

https://github.com/semperfiwebdesign/simplemap/commit/2cd8ded4a570b49cce019a4e961cae1e3b7c7159

[2016-11-09 18:32] arnaudbroes commented on #102
@michaeltorbert Thanks that works for me. Tried it before but didn't know the exact changes to make it work.

[2016-11-10 16:24] arnaudbroes commented on #102
So I tried adding the API manually to different .zips with commits but ran into a lot of errors.
However I'm thinking the problem has either something to do with this commit
https://github.com/semperfiwebdesign/simplemap/commit/b88f93615e691e719de1de311846ae062d1bd01d
or this commit
https://github.com/semperfiwebdesign/simplemap/commit/af36f2fef9d14e7da0a3143566a6a522e2a693d0

[2016-11-11 16:23] wpsmort opened #118 "Search categories by OR instead of AND"
We've had numerous requests for this feature, the latest is here - http://support.simplemap-plugin.com/discussions/problems/2604-selecting-multiple-categories-or-vs-and

Currently, SimpleMap will return results based on the category match. So if you have a location in category A, category B and category C and you select only one of those categories then the location will show. If you select two ou

[2016-11-13 18:26] arnaudbroes commented on #102
@michaeltorbert
Just found out that the bug was introduced by commit b88f936.

[2016-11-13 21:48] arnaudbroes commented on #102
@wpsmort Looks like 2.4.10 works but not 2.4.10.1, but you traced this back to 2.4.9 Steve?

[2016-11-14 19:35] michaeltorbert opened #119 "Improve post meta areas"
We should use something like the Butterbean framework...
It should at a minimum include "geographic location" and "additional information". What else is post meta?
Maybe include "drag and drop" location?

[2016-12-06 17:31] DeFeNdog commented on #98
I found that the $term variable was not set on line 482 of import-export.php (scope issue?).

I was able to correct the problem by swapping out $term->name to $name.

	From:
	wp_set_object_terms( $id, $term->name, $taxonomy, true );

	To:
	wp_set_object_terms( $id, $name, $taxonomy, true );

Hope this helps!

[2017-01-04 14:42] wpsmort opened #120 "Need to improve translations for SimpleMap"
Here's the current status of translations for SimpleMap - https://translate.wordpress.org/projects/wp-plugins/simplemap

[2017-01-04 17:15] arnaudbroes commented on #120
Major languages or the whole deal like All in One SEO?

[2017-01-05 00:02] wpsmort commented on #120
@arnaudbroes: I would suggest we start with the major languages.  This came about because a German user asked about a German translation and I see we don't have one.

I'll work on the English UK translation.  What do we need to do to make me a Translation Editor for this plugin?

[2017-01-05 00:11] arnaudbroes commented on #120
@wpsmort: I'll take care of that for you. I'll do Dutch as well.

[2017-01-16 08:14] arnaudbroes opened #121 "Reduce word count trunk and Readme for SimpleMap"
Trunk contains about 2.000 words; Readme contains about 3.500 words.
We need to reduce the amount of words to reduce translation costs.

*Changelog that is included in the Readme amounts up to 3.000 words and should be moved elsewhere.

[2017-01-16 08:21] arnaudbroes commented on #120
@michaeltorbert
I'l guessing someone has to test #74 before we go through with this.

[2017-01-16 14:26] michaeltorbert commented on #120
@arnaudbroes #74 is only in the development version, so we need to do a new release before translating anything

[2017-01-20 17:12] wpsmort commented on #8
@michaeltorbert:  I tested this and found two issues:

1). I couldn't find the temp location of the import file on my local Pressmatic machine. I can see where it's supposed to be from the code but that location doesn't get created.
2). The import doesn't complete, probably related to #1 above.  It shows the locations in the table on  Step 1 but nothing happens on Step 2, all I get is the screen s

[2017-01-20 18:11] wpsmort commented on #8
We have fixed the issues that were breaking the import and it is now working.

Need to test the fallback if the uploads directory doesn't exist.

[2017-01-20 18:25] wpsmort opened #122 "PHP notices when completing an import of locations"
These PHP notices appeared whilst testing #8.  They are not new.

Notice: Undefined variable: term in /simplemap/classes/import-export.php on line 480
Notice: Trying to get property of non-object in /simplemap/classes/import-export.php on line 482

[2017-01-20 18:39] wpsmort commented on #8
The fallback works if uploads is not writeable.

[2017-01-20 18:39] #8 closed

[2017-01-20 18:45] michaeltorbert opened #123 "Remove changelog from readme and have it point to website"
related to #121

[2017-01-20 18:47] #123 closed

[2017-01-20 18:59] arnaudbroes opened #124 "New description for SimpleMap"
SimpleMap also needs a new description (max. 15 words).

"SimpleMap is a convenient international store locator plugin for WordPress that uses Google Maps."
"SimpleMap is a store locator that uses Google Maps to display information on your site."
"SimpleMap is a store locator that uses Google to display information directly on your site."

Any suggestions?

[2017-01-20 19:00] wpsmort commented on #66
This is tested and is good.

[2017-01-20 19:00] #66 closed

[2017-01-20 19:04] wpsmort commented on #116
This is now fixed with the new menus.

[2017-01-20 19:04] #116 closed

[2017-01-20 19:12] michaeltorbert commented on #124
Easy to use Store Locator plugin (supports international stores) using Google Maps?

[2017-01-20 19:18] wpsmort commented on #99
The message has been replaced with a new one.

[2017-01-20 19:18] #99 closed

[2017-01-20 19:21] arnaudbroes commented on #124
Sounds good to me. The "SimpleMap is..." part doesn't have to be in there.

[2017-01-20 19:21] arnaudbroes commented on #124
*didn't mean to close - misclick

[2017-01-20 19:26] #74 closed

[2017-01-20 19:27] michaeltorbert commented on #121
I've removed the changelog from the readme... I suspect there's a bit more we can do to trim it.

[2017-01-20 19:53] wpsmort commented on #103
This is tested and works fine.

[2017-01-20 19:53] #103 closed

[2017-01-20 20:02] wpsmort commented on #105
This is tested and is working fine.  Both links were tested and both are good.

[2017-01-20 20:02] #105 closed

[2017-01-20 20:06] wpsmort commented on #110
This icon looks good on laptop, tablet and phone.

[2017-01-20 20:06] #110 closed

[2017-01-20 20:07] wpsmort commented on #112
This is confirmed in the readme.

[2017-01-20 20:17] arnaudbroes commented on #98
@michaeltorbert
This commit broke it:
https://github.com/semperfiwebdesign/simplemap/commit/fafb4069f80f30fa6ab74b7ae36bdd773061e724

![image](https://cloud.githubusercontent.com/assets/18156697/22164065/dd29ea50-df55-11e6-9419-d507416902c8.png)

[2017-01-20 20:32] wpsmort commented on #112
@michaeltorbert: I think we should change this to require WP v3.3 or later.  I tested with old versions of WP and this was the first version where I got the plugin to work properly.  I can make this change in the readme.txt file if you agree.

[2017-01-20 20:32] wpsmort commented on #113
I tested with old versions of WP and found that the first version where the plugin works is WP v3.3.

[2017-01-20 20:32] #113 closed

[2017-01-20 20:41] wpsmort opened #125 "Cannot scroll right on Import screen"
There's no way to scroll to the right on the import screen so you can't view the other columns:

<img width="2541" alt="screen shot 2017-01-20 at 3 40 21 pm" src="https://cloud.githubusercontent.com/assets/17548525/22164810/c68316fc-df26-11e6-9850-b810d35cbcc9.png">

[2017-01-20 21:01] michaeltorbert opened #126 "Add theming docs to the website"
I've removed the following from the readme for #121, so at some point it should be added to the website or someplace we're going to put documentation.

`Making Your Own Theme
To upload your own SimpleMap theme, make a directory in your plugins folder called simplemap-styles. Upload your theme's CSS file here.

To give it a name that shows up in the Theme drop-down menu (instead of the filename), u

[2017-01-20 21:08] michaeltorbert opened #127 "Test with Multisite"

[2017-01-20 21:08] wpsmort commented on #125
This is done and tested.

[2017-01-20 21:08] #125 closed

[2017-01-20 21:13] michaeltorbert commented on #122
I think fixing #8 fixed this one.

[2017-01-20 21:17] wpsmort commented on #115
This is tested and works fine.

[2017-01-20 21:17] #115 closed

[2017-01-20 21:23] michaeltorbert opened #128 "Signup Now takes you to same page"
If you're on the Premium Support page in the plugin, clicking "Signup Now" takes you to the same page. Is it supposed to take you to http://simplemap-plugin.com/buy-now/ or am I missing something?

[2017-01-20 21:25] michaeltorbert commented on #128
Looks like it used to take you to PayPal. We need to see when that changed.

[2017-01-20 21:27] michaeltorbert opened #129 "Nowhere to enter license key"
The warning message says to enter your license key on the general settings page, but there's nowhere to do so.

[2017-01-20 21:29] michaeltorbert opened #130 "Add thumbnail icon to assets for .org"

[2017-01-20 21:29] wpsmort commented on #98
@michaeltorbert: I tested this and found that it does not preserve category hierarchy.  However, this is not new, this was broken prior to v2.4.9 and may have never worked.  I'll open a new issue for this and see if we can tell if it ever worked.

[2017-01-20 21:31] wpsmort opened #131 "Importing hierarchical categories doesn't work"
When you export from an existing site that has locations in hierarchical categories and then import that into a new site, the categories all become top level categories with no hierarchy.

I tested this in v2.4.8 and it didn't work in that version.  It's possible that this never worked.  We should test back through old versions and see if we ever supported importing of hierarchical categories.

Th

[2017-01-20 21:33] wpsmort commented on #131
@arnaudbroes Do you want to have a go at testing this.  Let me know if you need my help.

If you set up some hierarchical Location categories and add some locations to them and then export all locations, delete your locations by using the "remove all locations" link on the General Options screen and then import from your export file.

[2017-01-20 21:34] michaeltorbert commented on #131
There should also be testing done with older version of WP... I wonder if the 4.4 changes did it.
@arnaudbroes You may want to keep a spreadsheet of what versions of SimpleMap have been tested with what versions of WordPress

[2017-01-20 21:36] wpsmort opened #132 "Improve the All Locations screen"
Currently we only have columns on the All Locations screen for Title and Date.  It would be good to add Categories, Tags and Author just like the All Posts screen.

<img width="1263" alt="screen shot 2017-01-20 at 4 34 20 pm" src="https://cloud.githubusercontent.com/assets/17548525/22166324/891f4f80-df2e-11e6-8108-4d4430c4cbe8.png">

[2017-01-20 21:37] #112 closed

[2017-01-20 21:43] wpsmort commented on #129
This is actually the prompt to enter a Google Maps API key.

You must enter an API key for your domain.

[2017-01-20 21:43] #129 closed

[2017-01-20 21:45] wpsmort commented on #122
I have confirmed that these are fixed.

[2017-01-20 21:45] #122 closed

[2017-01-20 21:46] wpsmort commented on #98
Opened new issue #131 to look at this.  Closing this issue as the importer works just like it did in version 2.4.8 (before we broke it).

[2017-01-20 21:46] #98 closed

[2017-01-20 23:39] arnaudbroes commented on #128
This commit broke it:
https://github.com/semperfiwebdesign/simplemap/commit/8ee7bf4b8894fe1550f57ed9be6b9305dbff0042

![image](https://cloud.githubusercontent.com/assets/18156697/22169134/20f3f7aa-df72-11e6-9973-4f2bfccc1515.png)

[2017-01-21 00:56] arnaudbroes opened #133 "Import screen doesn't fit within Dashboard space"
As seen here:

![image](https://cloud.githubusercontent.com/assets/18156697/22170361/e787b316-df7c-11e6-8fd8-56e65cb7e33d.png)

**Not responsive as well.

[2017-01-21 00:57] michaeltorbert commented on #133
@arnaudbroes  Yeah this needs to be completely redone for desktop too

[2017-01-21 00:58] arnaudbroes commented on #133
Yep I meant desktop, already changed title.

[2017-01-21 02:20] michaeltorbert opened #134 "Add upgrade/premium support link to more places"
It should be on every page, and on the locations/taxonomies screens, and on the (edit) page with the map.

Make sure to add any new pages to

[2017-01-21 02:28] wpsmort commented on #131
@michaeltorbert I tested with an old back of simplemap-plugin.com from January 2013 which was running WordPress v3.5 and SimpleMap v2.4.5 and confirmed that this did not work then.

[2017-01-21 02:32] arnaudbroes commented on #131
I tested this with WordPress v3.3.1, SimpleMap 2.4.4 and some newer releases of WP and SM, did not work.

[2017-01-21 05:38] arnaudbroes commented on #102
This commit broke it:
https://github.com/arnaudbroes/simplemap/commit/b88f93615e691e719de1de311846ae062d1bd01d

![image](https://cloud.githubusercontent.com/assets/18156697/22172331/10b0a3de-dfa4-11e6-8826-58228f56a8f1.png)

Locations that are added AFTER wpml is installed do not show up. Earlier ones do.
Once this option is activated, locations reappear on the map.

![image](https://cloud.githubu

[2017-01-21 05:42] arnaudbroes commented on #120
Note to self: waiting on closure of #121

[2017-01-21 21:14] michaeltorbert commented on #102
Since this can be "fixed" with the checkbox, let's punt this for now.

[2017-01-21 21:14] michaeltorbert opened #135 "Write better query in xml-search.php"
We could probably make this a bit more WordPressy, which may also help with #102

[2017-01-21 22:01] arnaudbroes commented on #102
I can confirm this is fixed.

Users have to go through the WPML configuration procedure first though, otherwise not a single location will show up (whether they are added before or after WMPL was activated does not matter).

[2017-01-21 22:04] arnaudbroes opened #136 "Content field missing from Edit Locations screen"
![image](https://cloud.githubusercontent.com/assets/18156697/22178080/fc26c12a-e02d-11e6-9f76-9a6f198fac5c.png)

[2017-01-21 22:12] arnaudbroes commented on #136
Tested and confirmed this is fixed.

[2017-01-21 22:12] #136 closed

[2017-01-21 23:14] wpsmort commented on #102
I have also confirmed that this is fixed as long as you click Save under WPML > Languages.  I believe we can close this issue but first I want to test this on the latest customer that reported the problem.  I'm just waiting to get access to their site.

[2017-01-22 03:59] michaeltorbert commented on #130
These have been added to the .org svn repo

[2017-01-22 04:00] #130 closed

[2017-01-22 04:07] michaeltorbert opened #137 "Move screenshots from trunk to assets - plugin filesize reduction"
This happens in the wp.org svn repo.

This reduces the plugin download size by over 75%.

[2017-01-22 04:07] michaeltorbert commented on #137
This is done.

[2017-01-22 04:08] #137 closed

[2017-01-23 18:13] wpsmort commented on #128
I have tested all PayPal links and confirmed that they all work.

[2017-01-23 18:13] #128 closed

[2017-01-23 18:16] wpsmort commented on #84
This is completed and tested and was released in v2.4.10.  It's been working fine since then.

[2017-01-23 18:16] #84 closed

[2017-01-23 18:17] arnaudbroes opened #138 "Description doesn't show HTML lists"
![image](https://cloud.githubusercontent.com/assets/18156697/22216743/912e549a-e1a0-11e6-9d27-15314cd1cd4d.png)

[2017-01-23 18:32] michaeltorbert opened #139 "Translations"
simplemap is (at least partially) translated into German, Spanish, Dutch, and Portuguese (Brazil).
For each of those, someone could go through each string for each language and manually enter them on .org.

[2017-01-23 18:39] arnaudbroes commented on #138
Noticed working example here:
https://wordpress.org/plugins/simplemap/screenshots/
![image](https://cloud.githubusercontent.com/assets/18156697/22217541/aafb5ffa-e1a3-11e6-848a-fa0d19a6bf63.png)

[2017-01-23 18:47] wpsmort opened #140 "Notice: Undefined index: sm-tag in /simplemap/classes/widgets.php on line 123"
PHP Notice when SimpleMap widget is displayed:

Notice: Undefined index: sm-tag in /simplemap/classes/widgets.php on line 123

[2017-01-23 19:04] wpsmort opened #141 "Thumbnail map broken on the single location"
It looks like we broken the small thumbnail map on the single location page.  See screenshot:

![screen-capture](https://cloud.githubusercontent.com/assets/17548525/22218070/5d73a560-e173-11e6-9dd5-d0ff5a30e27d.png)

This works in the current live version. There are some JS errors in the browser console and some PHP notices in the debug log that may be related.

[2017-01-23 19:05] wpsmort commented on #141
@arnaudbroes Can you track down which commit broke this.  Let me know if you have questions.

[2017-01-23 19:06] arnaudbroes opened #142 "Everything Else button in Premium Support menu broken"
This button doesn't seem to do anything.
I believe that field has been deleted a long time ago.

Can you check this?

![image](https://cloud.githubusercontent.com/assets/18156697/22218466/3a666ede-e1a7-11e6-95b6-d061bd84e611.png)

[2017-01-23 19:08] wpsmort commented on #141
Here are the PHP Notices:

Undefined index: panControl in /simplemap/classes/maps.php on line 235
Undefined index: zoomControl in /simplemap/classes/maps.php on line 236
Undefined index: scaleControl in /simplemap/classes/maps.php on line 237
Undefined index: streetViewControl in /simplemap/classes/maps.php on line 238
Undefined index: mapTypeControl in /simplemap/classes/maps.php on line 239

[2017-01-23 19:13] wpsmort commented on #140
Need to test when this was introduced, it is not new, I get this in v2.4.10.1.

[2017-01-23 19:16] wpsmort commented on #142
I've removed this link as it is no longer needed.

[2017-01-23 19:16] #142 closed

[2017-01-23 19:25] arnaudbroes commented on #141
@wpsmort
This is working for me till the most recent commit.
Your browser says multiple API keys are embedded in the code.
Any idea what may be causing that?

[2017-01-23 19:39] michaeltorbert commented on #141
<img width="928" alt="screen shot 2017-01-23 at 2 38 12 pm" src="https://cloud.githubusercontent.com/assets/17364998/22219686/bc9ff768-e179-11e6-88ca-6113dec9292b.png">

[2017-01-23 19:41] arnaudbroes commented on #141
I'll take a look if earlier commits/versions also outputted the API error.

[2017-01-23 19:52] arnaudbroes commented on #141
@wpsmort @michaeltorbert
This error has probably been there since the permalink ability (v2.4) has been added.
I could only test 2.4.4 since the previous versions are not available on WordPress.org.

[2017-01-23 19:55] wpsmort commented on #141
I cannot replicate this on my other test site.  It only happens on one site.  I'm trying a new install of WP to see if I can replicate it.

[2017-01-23 21:19] wpsmort opened #143 "Need to enqueue scripts on singular location page"
Whilst troubleshooting #141 I found that we're not enqueuing scripts on the singular location page if a page ID has been entered in the Map Page IDs field under General Option.  You can see this because the stylesheet and Google Maps API call are not output in the source code unless you remove the Map Page IDs.

The code is in classes/simplemap.php on line 624 where we enqueue scripts.   We need t

[2017-01-23 21:34] wpsmort commented on #141
I have found the cause of this issue is because we have two Google Maps API calls in the HEAD section of the iframe code that generates the small map.  One call is included in wp_head() and the other is explicitly defined before the closing head tag.

The first call in wp_head() is only included when you do not have a page ID under Map Page IDs.  This is because we're loading our scripts on the si

[2017-01-23 21:40] wpsmort commented on #114
@michaeltorbert I have tested everything and only found two issues (#141 and #143) which should not affect this issue.  I believe this issue can be closed.

[2017-01-23 21:49] #114 closed

[2017-01-23 22:48] #102 closed

[2017-01-23 22:50] #111 closed

[2017-01-23 22:50] wpsmort commented on #111
This was removed from the .org repo

[2017-01-23 22:51] #124 closed

[2017-02-04 06:34] michaeltorbert opened #145 "Remove sensor parameter"
https://developers.google.com/maps/documentation/javascript/error-messages#sensor-not-required

[2017-02-04 06:38] michaeltorbert opened #146 "Make API key nag more prominent"
Since the API key is required, we should make it persistent on every page in wp-admin.

[2017-02-04 06:40] michaeltorbert opened #147 "Consider removing donate link(s)"
See how much we get in the way of donations. If it's not much, we should remove any PayPal donate links.

[2017-02-05 03:19] michaeltorbert commented on #1
This is done.

[2017-02-05 03:19] #1 closed

[2017-02-05 04:05] michaeltorbert commented on #7
@wpsmort @arnaudbroes  Any idea what we're wanting to do here?

[2017-02-05 05:44] michaeltorbert commented on #15
Is this still happening? I can't reproduce it.

[2017-02-05 05:49] michaeltorbert commented on #20
@wpsmort Can you verify this was fixed and released already?

[2017-02-05 06:15] michaeltorbert commented on #21
https://codepen.io/Marnoto/pen/xboPmG has a good example.
The code is in simplemap.php

[2017-02-05 06:16] michaeltorbert commented on #22
Any idea what this means?

[2017-02-06 08:51] michaeltorbert opened #148 "Bump for 4.7"

[2017-02-06 08:58] #148 closed

[2017-02-06 09:00] michaeltorbert commented on #26
Any idea where this would have been? I don't get anything not working or any javascript errors.

[2017-02-06 09:05] michaeltorbert commented on #34
@wpsmort Was this a custom version of SM or a plugin we wrote?

[2017-02-06 09:06] michaeltorbert commented on #35
Closing this as I see no benefit here. In fact, I'd kind of like to eventually migrate AIOSEOP away from the module framework.

[2017-02-06 09:06] #35 closed

[2017-02-06 09:16] michaeltorbert commented on #41
Is this code in a plugin somewhere?

[2017-02-06 12:56] michaeltorbert opened #149 "Consider moving adsense functionality to Pro"
Either "Pro" version or else a paid add-on.
We could consider whether to keep if for people already using this feature.

[2017-02-06 12:57] michaeltorbert opened #150 "Try replacing http_build_query with the WordPress add_query_arg"

[2017-02-06 18:23] wpsmort commented on #26
@michaeltorbert This was something that Peter added to our old roadmap spreadsheet.  I don't recall why he added it as he didn't reference any customer issue.

I also don't see any JS errors in the admin area, however, I do see that we load the Google API scripts on every page load in the admin area.  I think we should change that as I don't believe we should be loading our JS on the admin.

[2017-02-06 18:28] wpsmort commented on #89
This was fixed under #98 in version 2.4.11

[2017-02-06 18:28] #89 closed

[2017-02-06 18:31] wpsmort commented on #76
This is fixed for me in Chrome and Safari on Mac.

@arnaudbroes Can you test in Chrome and Safari on Windows and see if the vertical scroll bar works on the map bubbles.  If it does then I think we can close this issue.

[2017-02-06 18:34] wpsmort commented on #64
This was fixed under #105 in version 2.4.11.  Both the Delete links work now.

[2017-02-06 18:34] #64 closed

[2017-02-06 20:02] wpsmort opened #151 "PHP notices when you save the widget"
When you go to Appearance > Widgets and save the settings in the SimpleMap widget, these PHP notices occur:

PHP Notice:  Undefined index: show_address in /simplemap/classes/widgets.php on line 205
PHP Notice:  Undefined index: show_city in /simplemap/classes/widgets.php on line 206
PHP Notice:  Undefined index: show_state in /simplemap/classes/widgets.php on line 207
PHP Notice:  Undefined index:

[2017-02-06 20:07] wpsmort commented on #7
@michaeltorbert This was something that Peter added to our old roadmap spreadsheet.  I don't recall why he added it as he didn't reference any customer issue.  I'd tasked Arnaud to copy what was in the old roadmap spreadsheet and create issues for each item.

We do have two separate issues (#151 and #140) open for PHP noticse in the widget.php file, I'm not aware of anything else that needs to be

[2017-02-06 20:07] #7 closed

[2017-02-06 20:16] wpsmort commented on #41
@michaeltorbert Peter wrote some custom code for the customer who requested this but it was part of a larger project that included some theme customizations and integrations with Easy Fancybox.

I think this should be a paid add-on.  I think we should have add-ons to integrate with each of the top forms plugins.

[2017-02-06 20:29] wpsmort commented on #34
@michaeltorbert Yes, this was a custom version that Peter created.  It was an early version of his SimpleMap v2.5 beta that he'd worked on.

[2017-02-07 02:30] michaeltorbert opened #152 "If it can't find the FT server, we should bail more gracefully"
WP_Error crashes the options page load via ft-ps-client.php on line 105 if it can't find the FT server

[2017-02-07 02:38] michaeltorbert commented on #152
For testing, disconnect from the internet, and when you hit the simplemap options page, you should get an error (about WP_Error). This commit should fix it.

[2017-02-07 15:48] wpsmort commented on #152
This is tested and confirmed fixed.

[2017-02-07 15:48] #152 closed

[2017-02-07 16:01] wpsmort commented on #20
This was fixed under #68 in version 2.4.9

[2017-02-07 16:01] #20 closed

[2017-02-07 16:08] wpsmort commented on #140
I tested back to version 2.4.4 and got this notice so it's been present since we took over development.

[2017-02-07 16:15] wpsmort commented on #131
This may actually have never worked because when I look at the export file there's nothing to distinguish a sub-category.  All categories show as a comma delimited list regardless of hierarchy, i.e.

Business, Personal, Family Sub-category

We need to identify a way of denoting category structure in our importer/exporter.  For example, the WooCommerce CSV importer uses this format:

Parent Categor

[2017-02-07 16:18] wpsmort opened #153 "Create documentation on simplemap-plugin.com site"
Move FAQs and other documentation to a documentation page on the website.

[2017-02-07 16:43] wpsmort opened #154 "Remove Default Language dropdown from General Options"
Under SimpleMap > General Options > Location Defaults is a dropdown for Default Language which doesn't seem to do anything.

We should check to see what this is supposed to do and either fix this or remove it until we decide whether we're going to keep or replace it.

[2017-02-07 17:24] wpsmort commented on #121
I've removed the list of screenshots from the readme file and moved the FAQs to the website.  This reduces the word count some more.

[2017-02-07 17:28] wpsmort commented on #153
I've added a Documentation page (http://simplemap-plugin.com/documentation/) and an FAQs page (http://simplemap-plugin.com/faqs/) but the Documentation page could be formatted better so it's not as long and both pages could be added to with more content.

[2017-02-07 17:47] wpsmort opened #155 "Correct misspelling of locaitons"
The work locaitons appears in several places in the plugin files.

[2017-02-07 17:49] wpsmort commented on #155
The misspellings have been fixed.

[2017-02-07 17:49] #155 closed

[2017-02-07 17:54] wpsmort opened #156 "Remove obsolete text from Import/Export screen"
The following text appears on the Import/Export screen:

If you are importing a file you exported from SimpleMap (and haven't changed since), be sure to check the box below since the locations are already geocoded.

This text refers to a checkbox that existed prior to version 2.4.4 when we took over development.  As this checkbox no longer exists and is no longer needed (imports work fine without

[2017-02-07 17:58] wpsmort commented on #156
I have removed this text from the appropriate file and tested the import/export screen to ensure it still works.

[2017-02-07 17:58] #156 closed

[2017-02-08 15:58] wpsmort opened #158 "Create a theme template file for single locations"
Requested here - http://support.simplemap-plugin.com/discussions/questions/1431-how-can-i-change-the-template-for-location-page

Currently the template code for the single locations page is contained in /classes/templates.php with the other template code.  We should split this out into it's own template which should follow the standard template naming convention for single posts in a custom post t

[2017-02-08 17:25] wpsmort opened #159 "Make sure changes to light stylesheet are copied to dark stylesheet"
There are some differences between the light and dark stylesheets that should not be different.  It appears that changes have been made to one stylesheet in the past and not copied to the other.  Bring both stylesheets up to the same code.

[2017-02-08 17:50] wpsmort opened #160 "Test differences between light and dark themes"
In SimpleMap you can select between two themes - Light and Dark.  These load the appropriately named stylesheet.  At some point there were differences between these themes but there aren't any now.

I need to test back through the version to see what the differences used to be and when they went away.

[2017-02-08 18:57] wpsmort commented on #159
This is done and tested.

[2017-02-08 18:57] #159 closed

[2017-02-08 18:57] wpsmort commented on #138
This issue is fixed and tested.

[2017-02-08 18:57] #138 closed

[2017-02-08 22:09] wpsmort commented on #94
@arnaudbroes I've compiled a list of all websites that we know are using SimpleMap.  I'll upload it to Google Docs and share it with you and then I'd like you to go through them and pick out any that are well known or nicely customized.

[2017-02-09 17:43] wpsmort commented on #160
I tested and found that the Dark theme last worked in version 2.2.2.  In version 2.2.3 the differences between the two themes went almost totally away and by 2.2.5 there were no differences between the two.

Here's a screenshot of how the Dark theme used to look:

<img width="1253" alt="dark theme" src="https://cloud.githubusercontent.com/assets/17548525/22795429/ac5ed524-eec4-11e6-9280-ea0018b3cd

[2017-02-09 17:43] #160 closed

[2017-02-09 17:50] wpsmort opened #161 "Remove Dark theme as an option"
See #160.

There's no longer any differences between the Light theme and Dark theme and there hasn't been any differences for 6 years.

We can either add back the differences or remove the Dark theme, default to the Light theme, and let users theme the plugin themselves.

My preference is we remove the Dark theme and let users theme this themselves.

[2017-02-09 19:47] arnaudbroes commented on #76
@wpsmort
I can confirm this works for me on a test site.
I'll close the issue.

[2017-02-09 19:47] #76 closed

[2017-02-09 20:07] wpsmort commented on #88
Duplicate of #63

[2017-02-09 20:07] #88 closed

[2017-02-09 20:22] wpsmort opened #162 "SimpleMap locations title appears as SimpleMap in AIOSEOP"
During testing I found that AIOSEOP refers to SimpleMap Locations under Custom Post Type Settings and XML Sitemap as SimpleMap.

<img width="1411" alt="screen shot 2017-02-09 at 3 22 01 pm" src="https://cloud.githubusercontent.com/assets/17548525/22801622/9530c5ee-eedb-11e6-9c48-4b339b9cb0fe.png">

[2017-02-09 20:24] wpsmort commented on #162
This was because where we register the CPT in classes/locations.php we set the label for name as SimpleMap and didn't set a menu_name.

			'labels'               => array(
				'name'               => 'SimpleMap',
				'singular_name'      => 'Location',
				'add_new_item'       => 'Add New Location',
				'all_items'         => 'Locations',
				'edit_item'          => 'Edit Location',
				'new_item'

[2017-02-09 20:33] wpsmort commented on #162
@michaeltorbert I have changed the name label from SimpleMap to SimpleMap Locations so that it improves how locations are displayed in other plugins that reference the CPT name (such as AIOSEOP).

I've tested and can see no negative impact from this change and I don't believe that we'd be referencing the CPT name label anywhere else in the plugin.  I wanted to check with you first before we close

[2017-02-09 20:37] wpsmort opened #163 "Search engines should be able to follow links to single locations in search results"
Taken from #56

We need to figure out why Google doesn't follow the links to singular locations when the map auto loads all locations. It appears that JavaScript dynamically outputs the locations so they don't appear in the HTML source code.

[2017-02-09 20:38] wpsmort commented on #56
So far Google has indexed 6 out of the 10 locations on http://simplemap-plugin.com/.  I believe this proves that Google can index these single location pages.

I've splitting the other item to do with following links from search results into a new issue #163

[2017-02-09 20:38] #56 closed

[2017-02-09 20:56] wpsmort commented on #163
I've set up a test here - http://stevemortiboy.com/map/

I've submitted the site to Google for indexing.  I need to see if they index the single location page which does not appear in the XML Sitemap so can only be indexed if Google follows the link from the Map page.

[2017-02-09 22:21] wpsmort opened #164 "Add Fax and Website to single locations page"
From #55

Improve the single locations page by:

Including the Website link to open in a new tab
Add Phone: and Email: labels before those entries just like the location results
Add the fax number which appears in the location results

[2017-02-09 22:23] wpsmort commented on #164
This is done and tested.

[2017-02-09 22:23] #164 closed

[2017-02-09 22:50] wpsmort opened #165 "Allow user to control dimensions of map on single location page"
From #55

Currently we enforce the dimensions of the map on the single location page through a width and height specified in the iframe code.  This makes it difficult for users to change using straight CSS.

Instead we should set the width and height of the iframe to 100% and then set the dimensions of the containing div so users can change this with CSS in their theme.

[2017-02-09 23:34] wpsmort commented on #4
We also need to display the featured image on the single location page.  From #55

[2017-02-09 23:37] wpsmort commented on #165
Duplicate of #12

[2017-02-09 23:37] #165 closed

[2017-02-09 23:38] wpsmort commented on #12
Currently we enforce the dimensions of the map on the single location page through a width and height specified in the iframe code. This makes it difficult for users to change using straight CSS.

Instead we should set the width and height of the iframe to 100% and then set the dimensions of the containing div so users can change this with CSS in their theme.

We first need to fix the bug with #14

[2017-02-09 23:39] wpsmort commented on #55
I've confirmed the single locations page is responsive and we've made improvements to it through various other issues listed above.

[2017-02-09 23:39] #55 closed

[2017-02-10 00:07] wpsmort commented on #9
@michaeltorbert This was an issue where, when you enabled the Location permalinks option under Optional / Experimental Features, we weren't flushing the permalinks so when you tried to go to a single location you got a 404 error.

This now appears to be fixed though.  I tested on a brand new site and it's flushing the permalinks.

[2017-02-10 20:11] wpsmort commented on #141
During testing today I found that the thumbnail map shows fine if you use the external (Live) link to a Pressmatic site so this is definitely a local Pressmatic issue.

[2017-02-10 20:38] wpsmort commented on #54
This is done and tested with Twenty Fifteen, Twenty Sixteen and Twenty Seventeen themes.

@michaeltorbert The responsive CSS is done in such a way that it should not break existing styling but we should make sure it's clearly stated in the changelog and update notification that we've added responsive styling and we should watch for issues reported in the forums.

[2017-02-10 20:46] wpsmort opened #166 "Importing HTML markup doesn't work"
When you import locations from CSV and the CSV includes HTML markup, that markup does not get processed and is output to the visual editor and therefore displayed on the screen.

You can test this by creating a location and adding an image and a list in the content area.  Then export your location to CSV and import it into another site.

The exported content will look like this:

<img width="947"

[2017-02-13 17:24] wpsmort opened #167 "Export CSV file - Change ZIP code field format"
Reported here - https://wordpress.org/support/topic/plugin-not-working-after-update-7/#post-8791110

When you export locations to CSV, the field format for ZIP code is numeric which means that ZIP codes with a leading zero are changed from 02110 to 2110.  We should see if we can change the format of this field to text.

[2017-02-15 23:31] wpsmort opened #168 "Stylesheet isn't being loaded on single location page"
Whilst testing #12 I found that the stylesheet isn't being loaded on single location page.  I need to test when this broke.

[2017-02-15 23:32] wpsmort commented on #12
This map on the single location page is now responsive but in order to fully test this I need to resolve #168 first.

[2017-02-16 23:09] wpsmort commented on #168
Duplicate of #143

[2017-02-16 23:09] #168 closed

[2017-02-16 23:48] wpsmort opened #169 "Google Maps API warning: SensorNotRequired"
On single location page is the following JS warning:

Google Maps API warning: SensorNotRequired

[2017-02-16 23:50] wpsmort commented on #169
@michaeltorbert I've removed the parameter from the URL and tested to confirm that the warning has gone away.  It just needs code review by you to make sure I didn't do something dumb.

[2017-02-17 00:00] wpsmort commented on #141
@michaeltorbert I believe I have added code to fix this issue.  I've tested on multiple sites where this was broken and it is certainly fixed now with no console errors.  This does need a code review by you to make sure I didn't do something dumb.

[2017-02-17 18:30] wpsmort opened #170 "Single location map is missing map controls"
The map on the single location page doesn't have controls for zoom, pan, scale, street view, or map type view.  You also can't drag the map.

There are undefined index notices showing in the debug log for this:

PHP Notice:  Undefined index: panControl in /simplemap/classes/maps.php on line 238
PHP Notice:  Undefined index: zoomControl in /simplemap/classes/maps.php on line 239
PHP Notice:  Undefi

[2017-02-17 18:33] wpsmort commented on #170
@michaeltorbert This is done and tested but needs a code review to make sure I didn't do anything dumb.

[2017-02-17 18:51] wpsmort commented on #143
@michaeltorbert I've added what I believe is the correct conditional to the enqueue scripts function and tested that this works.  This needs a code review to make sure it's good.

[2017-02-17 19:12] wpsmort commented on #12
This is tested and is good.  I tested with Twenty Fifteen, Twenty Sixteen and Twenty Seventeen themes.

[2017-02-17 19:22] wpsmort commented on #145
@michaeltorbert I believe I've completed this under #169 but it needs a code review to see if there are any other locations where this should be removed.  Certainly in testing, the console error is now gone.

[2017-02-17 19:22] wpsmort commented on #169
See also #145

[2017-02-21 17:16] wpsmort commented on #12
I've changed the ratio of the map and removed all other code that controls map width and height so that these dimensions are now controlled by CSS.  This is as a result of further responsive testing with other themes and page layouts.

For reference, I'm using the code provided at the link below for making Google Maps iFrames responsive:

https://www.smashingmagazine.com/2014/02/making-embedded-co

[2017-02-21 17:56] michaeltorbert commented on #12
@wpsmort
My advice is to make separate issues for each specific thing we want, instead of (or in addition to) just a general "make it better".

[2017-02-21 18:58] wpsmort commented on #12
@michaeltorbert This issue is only for changing the size of the map on single locations and for linking it to Google Maps (the linking was added in version 2.4.9).  These changes were suggested by Dave Iltis.

The result of changes done for the next release is that the map is now responsive and we no longer constrain or set the dimensions.  The map dimensions can now be controlled with a line of C

[2017-02-21 19:06] wpsmort commented on #126
I've added documentation for this here - http://simplemap-plugin.com/documentation/theming-guide/

[2017-02-21 19:06] #126 closed

[2017-02-21 19:17] wpsmort opened #171 "Add business hours fields to locations"
We should add fields to enter business hours as a field to locations and output them in search results and on the single location page.  Here's how this could look (taken from dickssportinggoods.com):

<img width="949" alt="screen shot 2017-02-21 at 2 17 34 pm" src="https://cloud.githubusercontent.com/assets/17548525/23180764/853ce848-f840-11e6-98a9-4e9cd68ff670.png">

[2017-02-27 22:53] michaeltorbert commented on #162
Looks good.

[2017-02-27 23:58] #162 closed

[2017-02-28 00:23] wpsmort opened #172 "Cleanup/remove any inline styles"
We have a number of blocks of HTML code that has inline CSS.  We should go through all inline CSS and see if we can move it to the stylesheet instead.

[2017-02-28 00:28] michaeltorbert commented on #12
This looks good.

[2017-02-28 00:28] #12 closed

[2017-02-28 01:03] michaeltorbert opened #173 "Improve map loading animation"

[2017-02-28 01:03] michaeltorbert commented on #173
This looks great! Good job Steve.

[2017-02-28 01:03] #173 closed

[2017-02-28 01:04] michaeltorbert opened #174 "Single location map stops moving (drag, pan, etc) after a few seconds"

[2017-02-28 01:23] michaeltorbert opened #175 "Single location page - js error - api key included too many times"
<img width="963" alt="screen shot 2017-02-27 at 8 22 39 pm" src="https://cloud.githubusercontent.com/assets/17364998/23387441/8caa9a64-fd2a-11e6-9c2c-3e8ebb458e85.png">

[2017-02-28 01:24] michaeltorbert opened #176 "single location map - various javascript errors"
<img width="492" alt="screen shot 2017-02-27 at 8 23 46 pm" src="https://cloud.githubusercontent.com/assets/17364998/23387490/cdc8313c-fd2a-11e6-93fc-110bf70b68a3.png">

[2017-02-28 01:27] michaeltorbert commented on #174
I've confirmed this issue on multiple browsers.

[2017-02-28 01:31] michaeltorbert commented on #170
This is good.

[2017-02-28 01:31] #170 closed

[2017-02-28 01:33] michaeltorbert commented on #145
Closing dupe

[2017-02-28 01:33] #145 closed

[2017-02-28 01:35] michaeltorbert commented on #169
This has been tested and is fixed.

[2017-02-28 01:35] #169 closed

[2017-02-28 01:42] michaeltorbert commented on #54
@wpsmort  This looks much much better, in that it has a usable map. The problem is that the map is below a very large form so you have to scroll way down to get to it. I wonder if either moving the map to the top on small screens would be better, or maybe making the form smaller/responsive or making the form collapsible.
<img width="937" alt="screen shot 2017-02-27 at 8 40 26 pm" src="https://clou

[2017-02-28 02:15] michaeltorbert commented on #9
Ok so the behavior was that when you change the location permalink, it took an extra page refresh for them to get flushed. It now should happen on the first pageload after changing.

[2017-02-28 02:16] michaeltorbert commented on #9
@wpsmort  When testing, verify the issue first in the live version, since you weren't seeing it before.

[2017-02-28 02:21] michaeltorbert commented on #141
@wpsmort Related to #175, now the API key is showing up twice. Were both of these lines (even without the api key) showing up previously?

[2017-02-28 02:24] michaeltorbert commented on #143
This may be related to #175

[2017-02-28 02:25] michaeltorbert commented on #175
This may be a dupe.

[2017-02-28 04:11] michaeltorbert opened #177 "New screenshots"
Since we have a new single location page, we should get a good screenshot of it.
What about taking a screenshot or two of somebour a) famous users and b) best looking users?

[2017-02-28 17:16] wpsmort commented on #176
@michaeltorbert I'm unable to replicate these console errors on either a live site or my local dev site.

[2017-02-28 17:21] wpsmort commented on #175
@michaeltorbert This is a dupe of #141 but I've not been able to replicate this since my last commit under #141

[2017-02-28 22:15] michaeltorbert opened #178 "Remove support for legacy tables"
There's code supporting legacy tables (search the files for "legacy tables"). We should determine how old this is (I suspect pre-CPT) and if we should remove this code. If so, we'd need to hunt for all of it.

[2017-03-01 00:13] wpsmort opened #179 "Convert SimpleMap search form from tables to divs"
Currently the search form is contained in an HTML table which is old and not great for theming or for responsiveness.  We need to convert this to divs but make sure we continue to support all the same shortcode attributes such as number of columns, empty cells, etc.

[2017-03-01 00:17] wpsmort opened #180 "Change default display for categories and tags in search form"
Currently, categories and tags are displayed as checkboxes in the search form but there is a shortcode attribute to change the display to dropdowns.  Checkboxes do not look good on small screens when you have a a large number so we should consider changing the default display to dropdowns.

Care should be taken here because we are considering changing a default for all users.

[2017-03-01 00:18] wpsmort commented on #54
We discussed this and agreed to push changes to the form to another release.  I've opened new issues #179 and #180 for this.

[2017-03-01 00:18] #54 closed

[2017-03-01 00:42] wpsmort commented on #176
This is now fixed and tested.

[2017-03-01 00:42] #176 closed

[2017-03-01 00:42] wpsmort commented on #175
This is now fixed and tested.

[2017-03-01 00:42] #175 closed

[2017-03-01 00:42] wpsmort commented on #174
This is now fixed and tested.

[2017-03-01 00:42] #174 closed

[2017-03-01 00:42] wpsmort commented on #143
This is now working correctly.

[2017-03-01 00:42] #143 closed

[2017-03-01 00:42] wpsmort commented on #141
This is now fixed and tested.

[2017-03-01 00:42] #141 closed

[2017-03-01 01:08] wpsmort commented on #9
This is tested and is confirmed fixed.

[2017-03-01 01:08] #9 closed

[2017-03-01 04:01] michaeltorbert opened #182 "Develop new themes"
These can be for free or pro or a separate add-on.

[2017-03-01 04:03] michaeltorbert opened #183 "Add hooks/functions for theming"
So that a paid plugin can add new themes.

Something like:

register_theme( 'blue', '/public_html/wp-content/plugins/sm-pro-themes/sm-blue-theme.css' );

[2017-03-01 14:36] michaeltorbert opened #184 "encode email addresses on front-end"
Use core function antispambot()

At a quick glance, it looks like locations.php, maps.php, and templates.php all output email addresses.

[2017-03-01 14:50] michaeltorbert opened #185 "Output to the front end should not be localized"
Currently, if you switch your site to a non-English language on the back-end, all of our output to the front end is translated.
This should be handled by a translation plugin, not localization in our plugin.
We should remove localization from these strings.

[2017-03-01 14:53] michaeltorbert opened #186 "Missing localization for a few strings"
The three strings for the "Automatic Location" setting are not localized.

[2017-03-01 18:44] arnaudbroes opened #187 "Move Support Section to website"
Related to #121.

[2017-03-02 21:27] michaeltorbert commented on #132
For author, that should be already in the supports argument.

For the taxonomies, we'll want to use the manage_{$post_type}_posts_columns filter on the manage_{$post_type}_posts_custom_column action

[2017-03-03 15:46] wpsmort commented on #101
Requested today here - http://support.simplemap-plugin.com/discussions/problems/2678-import-csv-width-custom-field

[2017-03-08 18:14] wpsmort opened #188 "Issues with SimpleMap and WPML compatibility"
Vuk from WPML tested the latest version of SimpleMap (v2.5) and found compatibility issues with WPML as follows:

Hello Steve,

I've updated your plugin and tested it.

It is not listing anymore locations from all languages, but now it is not listing location in proper language, please take a look at here: http://plugin-simplemap.compatibility.wpml.org/sr/test-page/

Warm regards

[2017-03-08 18:15] wpsmort commented on #188
I can’t replicate this with the latest version of WPML and SimpleMap.  When I go to my French map page I see all English locations, I don’t see my French location.

I have asked Vuk to give us access to their test site so we can see how WPML and SimpleMap are configured.

[2017-03-08 22:30] wpsmort opened #189 "Incorrect textdomain in code"
Reported by Ben Besselink via email:

there is an error in your code. the textdomain is "SimpleMap" but you have several time called it "simplemap" in _e() and __() commands. so the translation does not work. and i have to fix it on every update you release.
best regards

[2017-03-10 19:23] RHEINWEB commented on #189
i've correct the textdomain in your code on github. but i can't upload the fully translated language files, so here they are:
[de_DE.mo](https://drive.google.com/open?id=0B2tdAe1pcgzPWTItUzgweGpHeG8)
[de_DE.po](https://drive.google.com/open?id=0B2tdAe1pcgzPcEdWSDlwckhVT1E)

[2017-03-10 19:29] michaeltorbert commented on #189
@RHEINWEB Thank you, we'll review it shortly and commit it to the repo.
We're using the wordpress.org system for translations now, which can be submitted to https://translate.wordpress.org/projects/wp-plugins/simplemap

So for instance, German is https://translate.wordpress.org/locale/de/default/wp-plugins/simplemap

@arnaudbroes will be happy to fill you in on any other details regarding submitti

[2017-03-10 19:41] arnaudbroes commented on #189
@RHEINWEB

Hi Ben

Thanks for submitting those language files!
As Michael mentioned, we are using the translate.wordpress.org platform right now for our locales:
https://translate.wordpress.org/projects/wp-plugins/simplemap
Soon we'll be starting on translating SimpleMap to a couple of major languages (including German).

Once that update is out a PTE will be able to upload that language file for

[2017-03-10 21:01] michaeltorbert commented on #185
Actually, we may want to do this, but use a checkbox (one already exists but doesn't work?) to determine the front-end language.
We should be able to add the filter gettext if we're on the front end and switch the word to the appropriate language.

[2017-03-13 22:34] wpsmort opened #196 "Undefined index: language, post_translations"
Reported by a user here - https://wordpress.org/support/topic/php-notices-undefined-index-3/

I’m getting quite a few PHP Notices: Undefined index: language, post_translations in …/wp-content/plugins/simplemap/classes/simplemap.php on line 273

[2017-03-15 23:37] wpsmort opened #197 "Add NAP schema to locations"
Add support for NAP schema.org (https://schema.org/LocalBusiness)

[2017-03-18 14:52] arnaudbroes commented on #177
Related to #94.

[2017-03-18 15:00] arnaudbroes commented on #139
Related to #120.

[2017-03-18 15:00] arnaudbroes commented on #82
Related to #177.

[2017-03-18 15:01] arnaudbroes commented on #177
Related to #82.

[2017-03-18 15:02] #82 closed

[2017-03-20 13:47] wpsmort commented on #167
This is actually a non-issue.  When you look at the CSV file in a plain test editor the leading 0 is present and when you import the locations into a new site the leading 0 does get added to the location.

[2017-03-20 13:47] #167 closed

[2017-03-20 13:55] EkoJr opened #198 "Notice: Undefined index: map_type"
This might be the same issue that occurred before getting started, and it's just a notice with debug mode enabled. It also occurred on a fresh install. Note: Clears up after refreshing.

Steps to Error.
1. Install the plugin.
2. Activate Plugin.

A warning is then displayed at the top.

( ! ) Notice: Undefined index: map_type in simplemap\classes\simplemap.php on line 1811

Call Stack

1	0.0010	49

[2017-03-20 13:55] wpsmort commented on #158
Latest request here - http://support.simplemap-plugin.com/discussions/questions/1445-editing-templates

[2017-03-20 22:11] wpsmort commented on #133
This is a duplicate of #125

[2017-03-20 22:11] #133 closed

[2017-03-21 16:16] michaeltorbert commented on #189
@RHEINWEB The textdomain simplemap is correct, not SimpleMap. The reason why SimpleMap works for you is because of the filename.
Translations should go to https://translate.wordpress.org/projects/wp-plugins/simplemap

[2017-03-21 16:17] #189 closed

[2017-03-21 16:18] michaeltorbert opened #200 "Find some PTEs (or GTE) to upload existing translations"
de_DE was submitted here: https://github.com/semperfiwebdesign/simplemap/issues/189#issuecomment-285760951

We have a few more as well https://github.com/semperfiwebdesign/simplemap/tree/master/lang

[2017-03-21 16:19] michaeltorbert commented on #189
Related to #200

[2017-03-21 16:45] michaeltorbert opened #201 "Starting location doesn't get saved"
In General Settings, latitude, longitude, and address don't get saved.

This needs verification.

[2017-03-21 16:48] michaeltorbert commented on #196
This is most likely related to the use of a translation plugin (probably WPML). No matter the settings, I can't seem to reproduce it.
If the user provides us with more information or access to his site we can reopen this.

[2017-03-21 16:48] #196 closed

[2017-03-21 16:56] RHEINWEB commented on #189
Hello Michael,

what do you mean with "The reason why SimpleMap works for you is because of
the filename."? with "simplemap" the translation doesn't work for me. does
it work for you? why?

greetings
Ben Besselink

Mit freundlichen Grüßen

*Ben Besselink*
*CEO & Web Developer*

Lindenstr. 112
47798 Krefeld

Tel. +49 2151 3268124
Mobil +49 177 7183246
Fax +49 32221932338

info@rhein-web.com
www.rhe

[2017-03-21 17:04] michaeltorbert opened #202 "Settings saved no longer appears when saving settings"

[2017-03-21 17:06] wpsmort commented on #140
This is tested and confirmed fixed.

[2017-03-21 17:06] #140 closed

[2017-03-21 17:18] wpsmort commented on #26
See issue #201 where we found that you cannot geocode the Starting Location without the API Key.

[2017-03-21 17:19] wpsmort commented on #201
@michaeltorbert:  I tested and found that this does not work unless you have first entered a valid Google Maps API Key and saved it.  Once you've done that then the Geocode Address button works.  If you don't do this first then the browser error console shows the Google Maps API error: MissingKeyMapError error .

We should therefore add a message for anyone trying to geocode the Starting Location

[2017-03-21 18:34] michaeltorbert commented on #189
@RHEINWEB I've found the issue, and it will be resolved in the next version. However, translations should be submitted to https://translate.wordpress.org/projects/wp-plugins/simplemap, as we will no longer be supporting included files once we've finished the migration to the hosted translation system.

[2017-03-21 18:41] michaeltorbert opened #203 "Remove deprecated translation function argument"

[2017-03-21 18:42] #203 closed

[2017-03-21 18:52] wpsmort commented on #179
I have tested this with the standard shortcode and with various shortcode attributes including the columns attribute with 1 through to 5 columns.  This works fine except that some users may need to add a display:none; to the empty cell divs that have a class of .location_search_empty_cell.location_search_cell.  This will depend on how the user has implemented the shortcode attributes to create the

[2017-03-21 19:26] wpsmort commented on #15
@arnaudbroes This may be in reference to the fact that the map pans slightly to the left when you click on a pin because the map bubble is wider and so the map has to pan to the left in order for the entire bubble to show.  You may want to test back through versions of SimpleMap to see if this got worse at some point.  I know we increased the width of the bubble at some point so maybe this started

[2017-03-21 20:17] wpsmort commented on #188
I tested further and the problem is that on translated pages we're not displaying the correct locations.  We only output the default language locations.

For example, if you have a site with English and French content and you create WPML translations for your locations for both languages then on both the English and French map pages we only output English language locations.

What should happen is

[2017-03-21 20:49] wpsmort commented on #163
I have tested this and confirmed it works.  I added the location NC State Capital to my publicly accessible site on February 9th and Google has now indexed it:

<img width="815" alt="screen shot 2017-03-21 at 4 42 58 pm" src="https://cloud.githubusercontent.com/assets/17548525/24170173/63d7f9f0-0e56-11e7-91e7-d251f3f0e608.png">

[2017-03-21 20:49] #163 closed

[2017-03-21 22:03] wpsmort opened #204 "Add customizable category icons add-on"
A potential premium Pro feature or add-on is to let users set icons for categories and have these display in the search form and in the location results and individual location pages.  The screenshot below shows how a major store implemented this.

<img width="1056" alt="screen shot 2017-03-21 at 6 01 16 pm" src="https://cloud.githubusercontent.com/assets/17548525/24172989/a06c828c-0e60-11e7-93dc-

[2017-03-21 22:04] wpsmort opened #205 "Add custom map markers add-on"
One of the most requested features from users is custom map markers.  We have code that we provide users for this.  The code can be found here - http://support.simplemap-plugin.com/kb/setup-installation/adding-custom-markers

This would make a good premium Pro add-on.

[2017-03-21 22:45] wpsmort commented on #198
I tested this and was able to replicate it.  I tested all the way back to version 2.4.5 and this notice was present back then and in every version since then.

[2017-03-21 23:16] wpsmort opened #208 "Add integration with EDD Software Licensing add-on"
Integrate the EDD software licensing with SimpleMap and the automatic updater.  See the documentation and related articles at the end of this link - http://docs.easydigitaldownloads.com/article/381-software-licensing-usage-instructions

[2017-03-22 01:52] michaeltorbert opened #209 "Settings pages should go to edit.php instead of admin.php"
edit.php?post_type=sm-location&page=????

[2017-03-22 01:55] michaeltorbert commented on #209
For testing, we should make sure that none of the modified links are broken.

[2017-03-22 03:00] michaeltorbert commented on #205
Added to the Pro repository https://github.com/semperfiwebdesign/SimpleMap-Pro/issues/7

[2017-03-22 03:00] #205 closed

[2017-03-22 03:01] michaeltorbert commented on #208
Added to pro https://github.com/semperfiwebdesign/SimpleMap-Pro/issues/8

[2017-03-22 03:01] #208 closed

[2017-03-22 03:02] michaeltorbert commented on #204
Added to pro https://github.com/semperfiwebdesign/SimpleMap-Pro/issues/9

[2017-03-22 03:02] #204 closed

[2017-03-22 04:20] contactashish13 commented on #131
@wpsmort @michaeltorbert PR: https://github.com/contactashish13/simplemap/pull/1

I'm using | (pipe) to separate the parent and child category. I hope that's ok.

Also, I see that travis is not integrated so I will have to wait for your comments on whether I've adhered to the coding standards or not.

[2017-03-22 13:28] michaeltorbert commented on #131
In the interest in keeping everything together, Ashish's earlier remarks:

1) While exporting, we are only exporting the term name without the parent. Maybe we should export it in the format "parent term/child term" or add a separate column for the parent
2) While importing, we set hierarchical = false but it should be true and the parent should also be provided when using wp_insert_term

[2017-03-22 14:08] michaeltorbert opened #213 "Configure codeclimate with WPCS"
https://github.com/semperfiwebdesign/simplemap/settings/hooks

[2017-03-22 14:55] wpsmort commented on #117
@stanislavsa:  Were you able to replicate this bug before you made your code changes?  If so, how did you replicate it.  I've been unable to replicate the initial bug.  With version 2.4.10.1 I was able to change coordinates and they would save.

[2017-03-22 17:07] wpsmort commented on #131
@contactashish13:  I've tested this and found that it only supports two levels - Parent Category | Sub Category.  This should support any number of levels, for example:

Parent | Sub Cat | Sub Sub Cat | etc...

[2017-03-22 17:08] wpsmort commented on #131
I've closed pull request 210

[2017-03-22 17:22] wpsmort commented on #209
@michaeltorbert There was one link missed here, it's on line 2294 of classes/simplemap.php and is for the Premium Support link in the top right corner of the General Options screen (next to the Donate button).

[2017-03-22 17:28] wpsmort commented on #146
This is tested and is good.

@michaeltorbert Should we make the CSS class for this notice or error?  It did have a class of error which meant the banner had a red left border.  But now it has a class of notice which means the border is blue.

[2017-03-22 17:45] wpsmort commented on #197
Google is currently piloting the new JSON-LD markup for Local Businesses.  I have put this on hold until they decide whether to implement this globally or stick with the old microdata format.

Information can be found here - https://developers.google.com/search/docs/data-types/local-businesses.  That page was last updated on November 16, 2016.

[2017-03-22 18:10] michaeltorbert commented on #198
This was caused by old code we had migrating the map type from Google Maps V2 names to V3 names. I've just removed the code.

[2017-03-22 18:11] wpsmort opened #214 "Add an updater class"
Related to #198.

When working on #198, we found code that handled assigning a default map type.  The code was old and only used if updating from SimpleMap versions circa 2010.

We agreed to remove that code and instead add an updater class at a later date like we did in AIOSEOP.

[2017-03-22 18:12] wpsmort commented on #198
We agreed to remove this code as it's only applicable when updating from very old versions (7 years ago).  I've opened a new issue #214 for adding an updater class.

[2017-03-22 18:18] michaeltorbert commented on #214
AIOSEOP- https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/inc/aioseop_updates_class.php
APL- https://github.com/EkoJr/wp-advanced-post-list/blob/master/advanced-post-list/includes/class/APLUpdater.php

[2017-03-22 20:02] wpsmort opened #216 "Translations not working unless you rename the PO file"
Reported by Piet Geerts by email today.

I tried to use the dutch translation with the .po and .mo files in the lang directory of the plugin. The translation wasn't working. In the files of your plugin I discovered that the filename for the translation files should be simplemap, but the files in the lang directory are named SimpleMap-nl_NL.po I changed them to the name listed in the code and it wo

[2017-03-22 20:03] wpsmort commented on #216
@arnaudbroes: Can you verify this please.  Note that Piet is suggesting that renaming the PO files from SimpleMap to simplemap (no camel case) fixes this.

[2017-03-22 20:18] michaeltorbert commented on #117
Looks good to me.

[2017-03-22 20:21] wpsmort commented on #117
This is tested and is good. I tested with these coordinates - 38.946057 / -91.9390670

[2017-03-22 20:21] #117 closed

[2017-03-22 20:21] michaeltorbert commented on #216
Arnaud and I are already aware of this. I'll take this one.

[2017-03-22 20:37] wpsmort commented on #198
This is tested and is good.  There doesn't appear to be any problems associated with removing that code for map type.

[2017-03-22 20:37] #198 closed

[2017-03-22 20:53] michaeltorbert commented on #104
I'm closing this for now, as we don't have enough information to troubleshoot this, and only one person has ever reported it.

[2017-03-22 20:53] #104 closed

[2017-03-22 22:20] wpsmort commented on #166
This is tested and is good. It works with all HTML markup from the TinyMCE in the WordPress content area.

[2017-03-22 22:20] #166 closed

[2017-03-22 23:20] wpsmort commented on #146
The change to the class is now done and tested.

[2017-03-22 23:20] #146 closed

[2017-03-23 04:11] contactashish13 commented on #92
@wpsmort @michaeltorbert PR: https://github.com/semperfiwebdesign/simplemap/pull/217

[2017-03-23 05:11] contactashish13 commented on #131
@wpsmort I've added support for N levels. PR: https://github.com/semperfiwebdesign/simplemap/pull/218

[2017-03-23 14:29] michaeltorbert opened #219 ""Signup now" button on Premium Support wp-admin menu page in the plugin broken"

[2017-03-23 14:34] wpsmort commented on #219
This is because we have Tenderapp set up in private mode so that you have to be invited to join.  When customers purchase SimpleMap they get access but others who haven't purchased cannot access without an invite from an admin.

[2017-03-23 15:03] michaeltorbert commented on #219
The problem was that I was signed into the PayPal account. Apparently PayPal doesn't like you to buy your own product.

[2017-03-23 15:03] #219 closed

[2017-03-23 15:26] wpsmort commented on #131
This is tested and is good.  I tested up to 5 levels deep for sub categories, i.e.

Level 1 | Level 2 | Level 3 | Level 4 | Level 5

[2017-03-23 15:48] wpsmort commented on #92
This is tested and confirmed to fix the bug. Now when you perform a search, it closes any map bubbles that were previously opened.

[2017-03-23 17:57] michaeltorbert opened #220 "Add filter for post meta / custom fields for the JSON output"
We should add a custom field for the output at url.com/?sm-xml-search=1....... which is what our JavaScript (or someone else's JS or PHP potentially) can use to see the location data.

[2017-03-23 17:58] michaeltorbert commented on #220
sm_location_fields is the name of the filter hook
The code looks like this:

`$location_fields = array(
					'location_address'  => 'address',
					'location_address2' => 'address2',
					'location_city'     => 'city',
					'location_state'    => 'state',
					'location_zip'      => 'zip',
					'location_country'  => 'country',
					'location_phone'    => 'phone',
					'location_fax'      => 'fax'

[2017-03-23 20:20] #92 closed

[2017-03-23 20:21] #220 closed

[2017-03-23 20:43] wpsmort commented on #131
This is tested and is good.

[2017-03-23 20:43] #131 closed

[2017-03-23 20:50] wpsmort commented on #179
I've copied the styles from the Light theme to the Dark theme just in case we don't remove the Dark theme this version.

I've tested again with both themes and everything is good.

[2017-03-23 20:50] #179 closed

[2017-03-23 21:11] wpsmort commented on #209
I've made the change to the Premium Support link in the top right corner of the General Options screen and tested.  This just needs a final code review.

[2017-03-23 21:13] michaeltorbert commented on #209
Looks good.

[2017-03-23 21:13] #209 closed

[2017-03-23 21:36] wpsmort commented on #44
The pull request is tested and is good. I found no problems with the front end or the back end. I checked the browser console on each page for errors and found none.

[2017-03-23 22:07] #44 closed

[2017-03-23 22:19] wpsmort commented on #15
I tested back to v2.4.5 and found that this was introduced in v2.4.7 when we changed to InfoBox for the map bubble.  Making the map bubble less wide would fix this issue or we could leave this until we come up with a solution for #21.

I personally vote for the latter as nobody has reported this as a bug and it doesn't interfere with the operation of the map.  I recommend we close this issue.

[2017-03-23 22:30] michaeltorbert commented on #15
Agreed.

[2017-03-23 22:30] #15 closed

[2017-03-24 21:10] EkoJr opened #223 "Condense/Optimize Widget Class"
Currently, within the widget.php file, there's a couple methods with variables unmodified and simply just multiple copies of separate parts of the instance array. For example...

	$show_address   = $instance['show_address'];
	$show_city      = $instance['show_city'];
	$show_state     = $instance['show_state'];
	$show_zip       = $instance['show_zip'];
	$show_distance  = $instance['show_distance'];

[2017-03-24 22:59] wpsmort commented on #151
I tested pull request 222 and found a bug where clicking Save on the widget resets the entry in the SimpleMap Page or Post ID field back to 1.

[2017-03-26 13:40] contactashish13 commented on #24
@wpsmort Have added a button to the editor. This will launch a popup and the different attributes can be selected/provided using the interface. I've used jquery chosen here so that the UI is not clunky.

Strangely, I'm unable to show the image on the button.

![image](https://cloud.githubusercontent.com/assets/12953439/24331717/d7438d64-1257-11e7-9347-2a875c4f4053.png)

PR: https://github.com/semp

[2017-03-27 23:00] michaeltorbert commented on #24
For testing, we'll need to make sure there are no conflicts with other plugins that use the chosen library, such as WooCommerce, etc.

[2017-03-28 20:03] wpsmort commented on #151
This is tested and is good.  The pull request needs code review.

[2017-03-28 23:29] michaeltorbert commented on #151
Looks ok to me, especially after #223

[2017-03-29 15:45] wpsmort commented on #151
This is tested and is good.

[2017-03-29 15:45] #151 closed

[2017-03-29 16:17] wpsmort commented on #59
Closing this and moving to Pro

[2017-03-29 16:17] #59 closed

[2017-03-29 19:51] michaeltorbert opened #226 "Remove installation instructions from readme"
This section has been removed on the .org repository

[2017-04-03 20:08] EkoJr commented on #5
I also added new style classes to allow users more control over the customization.

- location_search_prev_page - Used with the Prev link
- location_search_next_page - Used with the Next link
- location_search_page_num - Used with the Page Number Text

Thinking about it now, may need to cancel PR#229 to add additions to Light & Dark CSS files. Even if there is no styling, would it be best to make

[2017-04-03 20:25] wpsmort opened #230 "Display days by day of the week in correct order"
If you enable the Day of the week taxonomy under SimpleMap > General Options > Optional / Experimental Features > Location Taxonomies and then add your days of the week, they are sorted on the map search form in an incorrect order.

We have a filter where you can change the order they are displayed but We should really display days in the correct order starting with Sunday and ending with Saturday

[2017-04-03 20:28] EkoJr commented on #201
This does result in an Alert/Notification being more predominant when Google Map API Key is missing. However, this only effects the Admin Side (SimpleMap > General Options).

I added a listener function that google will call on fail, but using a callback function on GeoCode fail wasn't an option. So I added an additional check if the API Key is empty. Seems like there should be a better method, bu

[2017-04-03 21:13] wpsmort commented on #230
Days are also listed in the wrong order in the search results.  See screenshot:

![screen_shot_2017-04-03_at_5 07 28_pm](https://cloud.githubusercontent.com/assets/17548525/24632069/d0527b2a-1890-11e7-9c68-3b1ca0ba1e43.png)

This was reported here - http://support.simplemap-plugin.com/discussions/questions/1449-location-days-change-to-appear-in-normal-sunday-through-saturday-order

[2017-04-04 20:29] wpsmort commented on #5
@EkoJr We should use the standard classes for CSS which can be found here - https://codex.wordpress.org/Pagination.  You should be able to test with Twenty Sixteen or Twenty Seventeen themes and the styling should be the same as the rest of the pagination in the theme.

I tested PR #231 but the Next and Prev links didn't do anything and there were no JS errors in the browser console.

[2017-04-04 20:45] wpsmort commented on #201
@EkoJr This is tested and is good.

Is it possible to display something if someone tries to geocode an address after the API key has been added but before the settings have been saved.

The natural progression through the settings is to set a Default State/Province, then add a Google Maps API Key, then geocode a Starting Location.  However, at this point the user may not have saved the options so

[2017-04-04 21:17] wpsmort commented on #223
This is tested and is good. Needs a code review.

[2017-04-05 18:53] wpsmort commented on #24
This is tested and is good.  It still needs the styling done.

[2017-04-05 19:00] wpsmort commented on #230
@EkoJr Can you also display the days of the week in the search form by the same order.  See screenshot.

<img width="963" alt="screen shot 2017-04-05 at 3 00 44 pm" src="https://cloud.githubusercontent.com/assets/17548525/24722154/aabd8964-1a10-11e7-9989-a1c81d96bc7a.png">

[2017-04-06 01:20] EkoJr commented on #230
The following code should replace the current temp code to prevent breaking it's functionality.

	function my_custom_days_order( $obj, $taxonomy ) {
		if ( 'sm-day' == $taxonomy && !method_exists(  'Simple_Map', 'sort_taxonomy_days' ))
			sort( $obj );

		return $obj;
	}
	add_action( 'sm-search-from-taxonomies', 'my_custom_days_order', 10, 2 );

[2017-04-06 01:43] EkoJr commented on #201
Regarding the API key being added (without saving), and trying to Geocode the address. I also thought about the natural progression.

Unfortunately, the form has to be saved into the php options in order for the frontend scripting with the url to kick in. The closest I could think of, is adding a Save API Key button next to the input.

[2017-04-06 18:14] wpsmort commented on #201
@michaeltorbert This is tested and it works.

However, for those users who first set an API Key and then set the Starting Location without first saving the options, they don't get any message stating that they must save options.  We should therefore consider what to do in this case.  Options are:

- Move the Google Maps API Key field to the very top of the General Options screen and prompt users t

[2017-04-06 18:20] wpsmort commented on #230
@EkoJr Unfortunately that won't work.  The people using the function may have contacted us years ago and we gave them that code.  We cannot contact every user who has that code and ask them to change it.  You will need to find a way to output the days in the correct order for everyone, whether they have that code on their site or not.

[2017-04-06 18:30] wpsmort commented on #5
@EkoJr I have tested this and found that when you click on Prev or Next nothing happens
Also, the number of locations displayed per page should be taken from the Number of Results to Display in SimpleMap > General Options.  So if I set that option to No Limit or anything higher than the number of locations I have then no pagination should be displayed.

For example, if I have 5 locations and I set

[2017-04-08 18:14] EkoJr commented on #201
@michaeltorbert I also want to mention. Any choice that is taken will probably result in an AJAX function with the class, and I'm not too sure if the plugin is setup for wp_ajax. I've tried adding the script with jQuery.getScript(), but I get an error saying multiple Google Maps API as been included and may cause unexpected errors.

1. **Has to go to PHP**to save the API Key to be added to the enq

[2017-04-14 06:47] bjornproductions opened #239 "Adding country to search field"
Currently when searching for a location, it only shows street, city, state, zip.

How can I add 'Country' into the search settings?

Here is a link to my client's website: http://www.hamskeaarchery.com/dealers/

[2017-04-17 20:22] wpsmort commented on #19
@stanislavsa I tested this but found that if you entered a pace name, a ZIP code and selected a distance that it would ignore the distance.  It also seemed to be matching on category and tag names.  So I could enter the name of a category in the place field and it would return locations in that category.

[2017-04-17 20:26] wpsmort commented on #239
This is a duplicate of #14 which is currently in development.

[2017-04-17 20:26] #239 closed

[2017-04-17 20:31] wpsmort commented on #14
This is tested and is good.  It needs a code review.

[2017-04-17 20:41] wpsmort commented on #11
This is tested and is good.  Needs a code review.  The shortcode attributes are:

To enable:
draggable='1'
scrollwheel='1'

To disable:
draggable='0'
scrollwheel='0'

[2017-04-17 20:53] michaeltorbert commented on #24
@wpsmort I've merged the code into a branch (shortcode-button branch) for @EkoJr to do the styling

[2017-04-17 20:54] wpsmort commented on #5
@EkoJr I tested this and the pagination works fine now.  However, the search no longer outputs only matching locations, instead it seems to output locations outside of the search criteria.  For example, if I have 6 locations within 10 miles of ZIP code 27540 and I search based on that criteria, the paginated search results actually outputs 10 locations which include locations in other States and o

[2017-04-18 18:52] wpsmort commented on #230
This is tested and is good.  It now needs a code review.

[2017-04-18 19:01] stanislavsa commented on #19
The distance ignoring issue fixed.
Matching on category and tag names is in progress.

[2017-04-18 19:03] wpsmort commented on #19
@stanislavsa I tested PR #241 and found that the behavior is now worse than before.  When I search for a place name with a ZIP code that has that location in then nothing is returned and the map jumps to a random place somewhere else.

[2017-04-18 20:12] stanislavsa commented on #19
@wpsmort In earlier commit I added place name data to the 'address' parameter in the geocoder js function and in some cases it returns wrong results (latitude and longitude). So I removed that code.

[2017-04-18 21:18] wpsmort commented on #79
@EkoJr I tested PR #240 for this issue and it does fix the problem for WPML compatibility when using subdirectories.  However, I could not get it to work for the WPML option "A different domain per language".  I get this console error:

XMLHttpRequest cannot load http://stevemortiboy.com/?sm-xml-search=1&wpml=fr&lat=35.7804132&lng=-78.63…y_type=all&limit=0&sm_category=&sm_tag=&address=&city=&state

[2017-04-25 22:35] wpsmort commented on #19
This is tested and works fine.  This is now ready for code review.

[2017-04-29 18:41] EkoJr commented on #79
@wpsmort I sent a message awhile back, but I have a feeling you may not have received it.

I am unable to reproduce the error, but I added a possible fix to your problem that I was hoping to have tested before make a Pull Request. It's a bit of a shot in the dark, but after doing a little research I found it was possibly the browser restricting access since it could not find the header allowing ac

[2017-05-01 16:18] EkoJr commented on #24
I didn't know I was tagged/assigned on this until the other day, which might explain the delay.

I added some basic styling with the form. However, when adding the button icon, the problem was due to no css file for the icon, and I originally thought the WP platform came with the icon style sheets, so I ended up enqueueing the style from Awesome Fonts.

Another thing I noticed, is it was being loa

[2017-05-01 17:28] #19 closed

[2017-05-02 18:13] wpsmort commented on #24
@EkoJr There are two dashicons we can use instead of using an external icon from Awesome Fonts.  Here are the dashicons we can use:

https://developer.wordpress.org/resource/dashicons/#location
https://developer.wordpress.org/resource/dashicons/#location-alt

I prefer the second one because thats the dashicon we use for the main plugin menu.  Can you update your code to remove the use of an extern

[2017-05-02 19:14] wpsmort commented on #79
@EkoJr I have tested that commit and confirmed that it does fix the problem.  Please update the PR and I'll perform final testing.

[2017-05-05 21:20] wpsmort commented on #79
This is tested and is good.  This is now ready for a code review.

[2017-05-05 21:30] wpsmort commented on #24
This is tested and is ready for code review.

[2017-05-11 18:52] wpsmort commented on #180
Closing this in favor of #10

[2017-05-11 18:52] #180 closed

[2017-05-11 22:43] wpsmort commented on #188
#79 may have fixed this.  I will perform more testing to confirm.

[2017-05-12 15:31] wpsmort commented on #188
I have confirmed that PR #244 fixes this issue.

[2017-05-12 16:06] wpsmort commented on #81
I have confirmed this by installing the latest version of SimpleMap (v2.5.1) and Page Builder by SiteOrigin (v2.5.3) and setting up a simple static homepage using the page builder.  Then on my map page I confirmed that the map bubble includes content from the homepage.

[2017-05-12 17:48] wpsmort commented on #11
This is tested and is good.

[2017-05-12 17:48] #11 closed

[2017-05-12 18:13] wpsmort commented on #63
I found that there were differences between the code in simplemap.php in the main plugin and simplemap-thumbs.php in the add-on.  Merging in these differences fixes the problem.  The differences start on line 1254 of simplemap.php and line 79 of  simplemap-thumbs.php

[2017-05-15 19:17] wpsmort commented on #5
This is tested and is working fine.  This is ready for a code review.  The branch with the latest commits is https://github.com/EkoJr/simplemap/tree/issue-5

[2017-05-24 14:27] wpsmort opened #246 "Mixed content error on HTTPS sites"
The URL for freegeoip.net should be changed to HTTPS as it can cause mixed content errors on sites running SSL.

Reported here - http://support.simplemap-plugin.com/discussions/problems/2720-map-not-displaying

[2017-05-25 21:04] michaeltorbert opened #247 "Feedback for improvements"
https://codex.wordpress.org/Template_Tags/get_posts
https://codex.wordpress.org/Class_Reference/WP_Query

Should be used instead of functions related to:

https://codex.wordpress.org/Class_Reference/wpdb

Whenever they have to be used, some caching system should be implemented like:
https://codex.wordpress.org/Class_Reference/WP_Object_Cache
https://codex.wordpress.org/Transients_API

Besides that

[2017-05-29 22:36] EkoJr opened #248 "Enhance Design with a Design Editor Tool"
One of the first things I noticed is how limiting and confusing how the layout can be when customizing, and its an idea that I've had for awhile. Currently, everything is being smashed into 1 shortcode following only a table format, and pre-formatted strings.

The design can either have 1 Preset or multiple Preset designs. Which would then have a text editor box/section to added whatever HTML elem

[2017-06-03 20:23] EkoJr opened #249 "Remove Screen Optioned for Geographic Location Meta Box"
I noticed the Geolocation Meta Box has the option of be hidden from view. Seemed like pretty crucial data that could easily be ignored by accident.

![screen options](https://cloud.githubusercontent.com/assets/2794445/26756793/bfff2c6a-485f-11e7-8243-98df18c8590d.png)

[2017-06-10 23:25] EkoJr opened #250 "Add jQuery UI styling and conditioning to Admin Pages"
**Enhance the Admin Interface with some [jQuery UI](https://jqueryui.com)**

Much of the admin Front-end UI could use some improvement, and would add some conditional logic to provide users with some description when handling data verification; which can also provide additional protection to users that are accident prone.

It also looks better and can minimize areas that have a lot of information.

[2017-06-10 23:33] EkoJr opened #251 "Add support for Date & Time taxonomies to auto-create or bulk-create"
The option to create a bulk list of terms according to the settings given. A term for every X years, X months, X days, X hours, and X minutes.

There is also the possibility to create terms upon activation, but may not be ideal to most webmasters.

[2017-06-14 14:20] wpsmort opened #252 "Wrap content in map bubble in a div"
Requested here - http://support.simplemap-plugin.com/discussions/questions/1479-remove-description-from-pop-up-on-actual-map

Currently if you want to remove the content from the map you have to do a display none on several HTML elements.  Instead we should wrap the content in a div so that it can be targeted by the class.

Once this is done, we should consider adding a filter hook for removing th

[2017-06-16 15:58] wpsmort opened #253 "Add auto-suggest / auto-complete to search form"
Suggested by Andy from StableWP by email.

Add auto-suggest / auto-complete to the form fields in the search form and the widget form.  When a user starts typing a city name the form provides auto-suggest, for example:

Typing Tor would result in any city in the location database where the first three letters are Tor such as Toronto

[2017-06-20 06:49] EkoJr commented on #132
Along with implementing the basic columns, it could have additional columns for location *addresses*.

In addition, it could be shown/hidden, and could be filtered.

Related Issues
* Admin UI Screen Options Tab.
* Admin UI All Locations Filter

Sites worth mentioning
* [Sortable Columns](https://www.ractoon.com/2016/11/wordpress-custom-sortable-admin-columns-for-custom-posts/)
* [Custom Filter Sea

[2017-06-28 17:23] wpsmort commented on #246
This is done and tested.  Needs a code review.

[2017-06-28 17:23] #246 closed

[2017-06-28 17:46] wpsmort commented on #252
This is done.  I've added a div with a class which now wraps the content in the map bubble.  This means that the content can be targeted separately using CSS.

[2017-06-28 17:46] #252 closed

[2017-06-28 20:47] wpsmort commented on #34
We have a backup of the client site that we did this development work for.  The backup is in the usual location for customer backups.

[2017-06-28 21:21] wpsmort commented on #246
Reported here too - http://support.simplemap-plugin.com/discussions/problems/2734-map-not-loading

[2017-07-03 15:42] michaeltorbert opened #254 "improve queries"
Request via email:

It mostly means that whenever possible, functions like:

https://codex.wordpress.org/Template_Tags/get_posts
https://codex.wordpress.org/Class_Reference/WP_Query

Should be used instead of functions related to:

https://codex.wordpress.org/Class_Reference/wpdb

Whenever they have to be used, some caching system should be implemented like:
https://codex.wordpress.org/Class_Refer

[2017-07-12 19:07] wpsmort commented on #197
There is now more information about Google's support for Local Business Knowledge Graph cards along with example markup here - https://developers.google.com/search/docs/data-types/local-businesses

The basic JSON-LD markup is this:

[code]

We could add this basic markup in the header of single locations and populate it from that location's details.

[2017-07-16 21:41] billerr opened #255 ""Uncaught ReferenceError: google is not defined""
Hi, I am experiencing the issue in the title on a WPML setup.
The site has 2 languages set-up on separate directories (Greek: / , English: /en ).
The SimpleMap loads perfectly on the GR version. On the EN version of the same page, nothing loads, and the console throws the error "Uncaught ReferenceError: google is not defined". I noticed that the "http://maps.googleapis.com/maps/api/js" resource on

[2017-07-17 01:46] EkoJr commented on #255
It appears the scripts for google aren't being added for the 'en' URL. The scripts should be similar to...

`<link rel='dns-prefetch' href='//maps.googleapis.com' />`
AND
`<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?...'></script>`

I might be able to expedite a fix for this. Also, thank you for letting us know about this.

[2017-07-24 15:40] wpsmort commented on #25
Requested again here -

[2017-08-02 19:27] wpsmort opened #256 "Style location results by category and tag"
Requested here - http://support.simplemap-plugin.com/discussions/questions/1485-coloring-business-names-different-colors

Add the ability to style locations in the search results by their category or tag.  We could do this by outputting the category or tag as a class on the result div so that users can target the class in CSS.

<img width="941" alt="screen shot 2017-08-02 at 3 26 20 pm" src="https

[2017-08-07 13:29] wpsmort commented on #18
Requested on 8/6/2017 by email from Lee

[2017-08-23 17:52] wpsmort opened #257 "Improve the Get Directions link"
Requested here - http://support.simplemap-plugin.com/discussions/problems/2748-address-changes-once-you-click-on-get-directions

The way we create the current Get Directions link is by using the latitude and longitude coordinates followed by the address.  So the link looks like this:

http://google.com/maps?saddr=54901&daddr=44.0554317,-88.5421771(2968%20Jackson%20Street%20Oshkosh%20WI%2054901%20U

[2017-08-28 18:12] billerr commented on #255
Hi!
I found a solution (or is it a workaround?)
I needed to add the page ID of the 'en' page into the "Map Page IDs" fields. Now the checks work and the scripts load correctly.

[2017-09-10 04:52] EkoJr commented on #255
I was able to get a good look, and it looks like you may be referring to this...

![issue-225-suspected-oversight](https://user-images.githubusercontent.com/2794445/30246159-9c0fc6f4-95a6-11e7-9264-805b4ebf2d52.png)

If so, that is a built in setting to control where scripts are loaded. It's to load on different pages for site optimization, but it seems there was an oversight with multilingual bei

[2017-09-12 19:13] wpsmort commented on #255
@EkoJr I have updated the documentation with a note about this - http://simplemap-plugin.com/documentation/general-options/

[2017-09-12 19:13] #255 closed

[2017-09-20 13:35] michaeltorbert commented on #200
As it turns out, I can do this.

[2017-09-20 13:35] #200 closed

[2017-10-03 05:27] jesspritchard opened #258 "Info Window not showing on map"
Hi All,

This is a long shot, but I have a website that has a heavily customised version of the SimpleMap plugin (no idea what version, but it doesn't have an option to add an API key in the admin area so that would give you an idea of how old it really is).

All of a sudden the InfoWindow on the map doesn't show - you see the bottom arrow, and the X button but not the actual box or any content. I

[2017-10-03 12:57] wpsmort commented on #258
We only provide support for unmodified versions of our plugin.

[2017-10-03 12:57] #258 closed

[2017-10-05 17:34] wpsmort opened #259 "Importing locations should update existing locations"
Requested today by Jeremy via Premium Support Forums.

When you import locations, and a location already exists, we create a duplicate instead of updating or overwriting the existing location.  See if we can improve the importer to update existing locations via the import feature.

[2017-10-05 22:37] wpsmort opened #260 "Add translation request feature"
Add the same feature like we have in AIOSEOP

[2017-10-06 15:37] wpsmort opened #261 "Add support for taxonomy archive pages"
Requested by Sledmass_zqhgso here - http://support.simplemap-plugin.com/discussions/questions/1505-adding-location-information-to-category-list-page

Look into adding support for taxonomy archive pages for location categories and tags.

[2017-10-12 19:23] arnaudbroes commented on #94
@wpsmort I've discussed this with Michael and we were wondering whether you could provide me with an updated lists of sites that currently use SimpleMap. The problem is that the current spreadsheet mostly contains sites that are either no longer reachable or no longer use the plugin and have replaced it with another. So to be frank, it's a bit of a waste of time going through them all. I've only f

[2017-10-14 03:26] michaeltorbert commented on #94
Texas Pete
Bridgestone
Utah state government

[2017-10-14 03:28] michaeltorbert opened #262 "contact form 7 addon"
https://gist.github.com/michaeltorbert/51148f6592f3ceedd787d9bcb388a226

[2017-10-19 16:39] EkoJr opened #263 "Multiple Admins don't initialize Premium Support"
Only 1 Admin with the correct email address works.

When there is multiple Admins accessing the SimpleMap settings, the Premium Support does not reference the correct email address since the email being passed is from the Current_User.

There might be a better way to handle this without having to use an email address, but if an email is used, it is VERY IMPORTANT it remains anonymous (completely h

[2017-11-06 16:36] arnaudbroes opened #264 "Include category ID on Location Categories tab"
If possible. As requested by Scott Friedman on 11/06/2017.

[2017-12-08 18:22] wpsmort opened #265 "Polylang removes location categories and tags from search form"
Reported by email from Robert Helmer.

When Polylang is activated, the categories and tags are removed from the search form and two PHP notices are output as follows:

Notice: Undefined index: language in /simplemap/classes/simplemap.php on line 273
Notice: Undefined index: post_translations in /simplemap/classes/simplemap.php on line 273

[2017-12-16 17:55] wpsmort opened #266 "Export only selected locations"
Requested by Chris Arines by email on 12/15/2017

Chris was trying to export over 30,000 locations and it was failing because of lack of memory.  We should add an options to export locations by category or date so that users can perform partial exports.  This would be similar to the WordPress export feature where you can export posts by category or date range.  See screenshot below:

<img width="7

[2018-02-08 22:06] wpsmort commented on #34
Requested again here - http://support.simplemap-plugin.com/discussions/questions/1519-custom-fields

[2018-02-17 07:41] michaeltorbert opened #267 "fatal error in widgets"
Parse error: syntax error, unexpected ':' in /home/cluster1/data/k/s/2580834/html/wp-content/plugins/simplemap/classes/widgets.php on line 54

[2018-02-17 07:45] michaeltorbert commented on #267
This is because of the shorthand operator, introduced in PHP 5.3. We should discuss whether to support 5.2. (Probably not.)

[2018-03-02 12:42] wpsmort opened #268 "Map not loading with Yoast SEO Premium"
Reported here - http://support.simplemap-plugin.com/discussions/problems/2796-map

When Yoast SEO Premium the map doesn't load and jQuery errors are output in the browser console.

[2018-03-02 12:55] EkoJr commented on #268
Error Message

[code]
Initial report

Error seems to occur because the PHP method `google_map_js_script` that contains the JS function `load_simplemap` isn't being executed. The WP hook `template_redirect` is what the PHP method would be hooked to.

I believe it could be part of Yoast's Redirect feature, but it also seems the (Yoast Redirect) configs are empty...but at the same time the .htaccess

[2018-03-02 15:23] EkoJr commented on #268
This was triggered by a Advanced Setting in Yoast; which is also a setting not recommended to use.

[2018-03-02 16:34] #268 closed

[2018-03-08 10:14] wpsmort commented on #30
Requested again here - http://support.simplemap-plugin.com/discussions/questions/1529-some-maps-alpha-some-not

[2018-06-26 14:55] clairedj opened #269 "Shortcode attributes don't work"
The basic [simplemap] shortcode works, but if any attributes are added they don't work and it continues to show the basic map. Tried many attributes, including:
show_sm_category_filter='0'
limit='5'

[2018-06-27 16:44] wpsmort commented on #269
This is not a support forum.  If you need support for the plugin then you'll have to purchase that here - http://simplemap-plugin.com/buy-now/

[2018-06-27 16:44] #269 closed

[2018-07-23 19:57] wpsmort opened #270 "Freegeoip API change"
Reported here - http://support.simplemap-plugin.com/discussions/problems/2836-map-not-loading

As of July 1st, Freegeoip.net has changed their API access to use a new ipstack API endpoint.  Full details can be found here - https://github.com/apilayer/freegeoip#readme

We need to update how we access the Freegeoip API or replace it with an alternative.

[2018-08-14 22:03] wpsmort opened #271 "Display search criteria in URL"
Requested by email from Anthony Vyner.

Display the search criteria as URL parameters, for example:

https://domain.com.au/stockists?city=raleigh&radius=50&cat=wholesale

[2018-09-13 15:13] tonyswash opened #272 "Display width on map pop-up is too narrow"
When a location pin is clicked on the map the resulting pop up display is too narrow. The display often truncates and obscures the last part of email addresses. This behaviour happens in both Safari (iOS and MacOS) as well as in Chrome (MacOS)

[2018-09-23 12:07] arnaudbroes opened #273 "Theme no longer working on https://simplemap-plugin.com/"
![image](https://user-images.githubusercontent.com/18156697/45927842-0eac9580-bf3a-11e8-8cc8-c2c4fc3743d3.png)

[2018-09-23 17:57] michaeltorbert commented on #273
Is this on mobile? Do we know if it was ever working on mobile?
It works fine for me on the computer.

[2018-09-23 21:50] arnaudbroes commented on #273
@michaeltorbert doesn't work for me on PC either, but I just found out it's due to a browser security issue (they consider the site unsafe). Perhaps something to do with the HTTPS certificate?

[2018-09-25 07:21] tomhermans opened #274 "https issue - map not loading because of mixed content"
related: I, or rather my client, has an issue with https. Map etc is not displayed, because of mixed content issues: https://www.theuma.com/nl-nl/over-theuma/verkooppunten/

Is there a fix for this ?

Console:

Mixed Content: The page at 'https://www.theuma.com/nl-nl/over-theuma/verkooppunten/' was loaded over HTTPS, but requested an insecure script 'http://www.theuma.com/theumawp2018/?simplemap-m

[2018-10-10 16:40] wpsmort opened #275 "Add Read More link to search results"
Requested by Ben Baker by email.

Add a Read More link to each search result that can be easily removed using CSS.

<img width="796" alt="screen shot 2018-10-10 at 12 39 04 pm" src="https://user-images.githubusercontent.com/17548525/46751829-a70c7f00-cc89-11e8-8362-3a5c45a4fde3.png">

[2018-10-17 22:12] arnaudbroes opened #276 "Add option to enter Google Maps Geocode API"
For customers who add large amounts of locations at a time. The free quota is 2,500 queries per day.
https://developers.google.com/maps/documentation/geocoding/start

[2018-10-19 00:41] wpsmort opened #277 "Locations are no longer geocoded when inserted"
Reported by Marco S. by email on 10/18/2018.

When you import locations into SimpleMap using the CSV file, locations should get geocode (longitude and latitude added) upon import.  However, when you edit an imported location the longitude and latitude fields are empty.

[2018-10-22 14:22] wpsmort commented on #277
Also reported here - http://support.simplemap-plugin.com/discussions/problems/2852-batch-geo-coding-no-longer-seems-to-work

[2018-10-22 20:20] wpsmort commented on #277
Reported again by Adam Taylor by email.

[2018-10-30 00:01] arnaudbroes commented on #277
Reported again by J. Burke by e-mail.

[2018-10-30 00:04] arnaudbroes commented on #277
Here's what Ben said so far:
[code]

[2018-11-07 14:16] wpsmort commented on #270
Reported again here - http://support.simplemap-plugin.com/discussions/problems/2856-map-not-showing-up

[2018-11-20 19:41] wpsmort commented on #276
Regarding this post - http://support.simplemap-plugin.com/discussions/questions/1535-your-servers-ip-is-over-the-geocode-threshold-set-by-google#comment_46527286

It looks like we need to add a second Google Maps API Key field.  One API key is required for the client side JavaScript API and one key is required for the server side web service.

[2018-12-04 16:30] wpsmort commented on #276
Google Maps is returning this error -

Geocoding Service: This API project is not authorized to use this API.  For more information on authentication and Google Maps JavaScript API services please see: https://developers.google.com/maps/documentation/javascript/get-api-key

This may be related to a known issue with recent changes by Google to their Maps API.  It looks like they may now need a sepa

[2018-12-05 22:52] arnaudbroes commented on #276
@wpsmort can you provide me with an API key with those specific restrictions via Slack again? I'm afraid I can't set up Billing in the Google Cloud Platform because Google doesn't accept my credit card.

[2018-12-07 17:32] dharlan2728 opened #278 "SImplemap not loading any locations"
All of the sudden, simplemap is not longer loading any of the locations. Even when I type in a zip code, nothing shows up. http://intercorpusa.com/home/find-a-distributor/

Search button seems unresponsive.

[2018-12-07 17:38] wpsmort commented on #278
This is a development repository and not a support forum.  Premium support is available for purchase here http://simplemap-plugin.com/ and by contacting us here https://simplemap-plugin.com/contact/

[2018-12-07 17:38] #278 closed

[2018-12-07 17:41] dharlan2728 commented on #278
I already purchased premium support, but no one responded to my issue. The link you gave me is how I got here. Do you have an e-mail address that support questions can be sent to?

[2018-12-07 17:43] wpsmort commented on #278
We've not received any email from you.  Please use the contact form to send us a message and we'll respond.

[2018-12-07 17:43] dharlan2728 commented on #278
<img width="603" alt="screen shot 2018-12-07 at 9 42 46 am" src="https://user-images.githubusercontent.com/45696005/49663762-800dc780-fa04-11e8-9feb-f2bd0d6b15e3.png">

None of the contact links work on the link you sent me. See attachment.

[2018-12-07 17:45] wpsmort commented on #278
I just tested the form and it's working fine.  Please try a different browser as our site and contact form are working.  Please select Other in the drop down on the contact form.

[2018-12-07 17:49] dharlan2728 commented on #278
The only e-mail address that I can find for you is info@fullthrottledevelopment.com, which I have sent e-mails to. If this is not the correct address can you please provide one to me at david@intercorpusa.com? I have tried opening your contact form on Windows 10 - Chrome, Edge as well as OSX - Chrome and Safari. Form does not work on either platform or any of the mentioned browsers.

[2018-12-12 11:46] arnaudbroes commented on #270
I believe this issue can be solved for now (client-side) by setting the "Auto-detect location" setting in the General Options menu to "Use HTML5" or by disabling it entirely.

[2018-12-14 19:39] Biolight1414 opened #279 "Simple Map stopped working on our website?? not sure what to do . 2.5.0.1 version of simple maps is We updated our app, our WP version is 5.0.1 we are on"
Our simple map app is no longer working on our website http://www.biolighttechnologie.com  Please help us know what to do to get it working again.  thank you   770-540-5990

[2018-12-14 21:07] wpsmort commented on #279
We have responded to your email.  This is a development repository and not a support forum.

[2018-12-14 21:07] #279 closed

[2018-12-21 01:11] wpsmort commented on #277
Reported again here - http://support.simplemap-plugin.com/discussions/problems/2880-csv-feature-doesnt-automatically-create-lat-long-information

[2019-01-02 18:04] mindypong opened #280 "Simple Map locater not working"
Our simple map plugin has stopped working. http://www.clearwaterspas.com/dealers/ We are up to date, but when you enter information, and click "search" nothing happens.

[2019-01-03 19:33] wpsmort commented on #280
@mindypong This is a development repository.  You can access support via the Premium Support widget in SimpleMap under SimpleMap > Premium Support.  Please note you will need a current support subscription which you can purchase here - https://simplemap-plugin.com/buy-now/

[2019-01-03 19:33] #280 closed

[2019-01-10 22:20] wpsmort commented on #273
This is now fixed.  It was because some stylesheets weren't loading over SSL but I fixed this using the SSL Insecure Content plugin that was already installed on the site.  Arnaud confirmed the site is working for him now and I tested in various browsers.

[2019-01-10 23:47] wpsmort commented on #276
I've provided training to Arnaud on how to set up a Google Maps API Key and he's creating documentation to go on the website.

I've tested SimpleMap with a properly created API Key and a location does get geocoded when I add one.  However, I do get a message that says "Your Server's IP is over the geocode threshold set by Google so we had to fallback to a Javascript function."  See screenshot belo

[2019-01-11 16:16] mindypong commented on #280
Hello,

I renewed our license a few days ago, but it has not updated on our wordpress site yet and this feature is still not working. Can you please let me know when I might expect this to be updated on your end?

Thank you,

Mindy Pongpanik
mpongpanik@clearwaterspas.com<mailto:mpongpanik@clearwaterspas.com>
[cid:D38B173B-0614-4F46-B9B7-00AC7582207B@clearwaterspas.com]

On Jan 3, 2019, at 11:33 AM

[2019-01-14 18:56] wpsmort commented on #280
@mindypong Please contact us here https://simplemap-plugin.com/contact/.  Select Other as the reason for contact and please provide the PayPal transaction ID for your renewal payment.

[2019-01-14 19:07] mindypong commented on #280
Ok I just did that.

Thank you.

Mindy Pongpanik
mpongpanik@clearwaterspas.com<mailto:mpongpanik@clearwaterspas.com>
[cid:D38B173B-0614-4F46-B9B7-00AC7582207B@clearwaterspas.com]

On Jan 14, 2019, at 10:56 AM, wpsmort <notifications@github.com<mailto:notifications@github.com>> wrote:

@mindypong<https://github.com/mindypong> Please contact us here https://simplemap-plugin.com/contact/. Select Othe

[2019-01-17 21:06] arnaudbroes commented on #270
@wpsmort we can continue to use the new endeavour from freegeop.ip's developers, ipstack, but since free usage (same for competitors) is now limited at 10.000 requests per month, users will need to create an account with them and we'll need to add an API key field to the plugin.

[2019-01-17 21:18] arnaudbroes commented on #276
@wpsmort correct, that message is only partially valid. It's echoed when the PHP geocoding fails. It's too specific and should be a generic message, because the PHP geocoding is failing for a different reason.

[2019-01-17 22:39] arnaudbroes commented on #277
This also happens when adding a new location through the backend, so it's a general issue, and not specific to the importer/exporter.

[2019-01-20 14:56] arnaudbroes commented on #273
@wpsmort only the homepage seems to be working correctly on my end; if I go to any of the other pages, then the CSS doesn't render. Can you confirm this?

[2019-01-22 20:32] wpsmort commented on #273
@arnaudbroes Please test in all browsers now as it should be working fine now.

[2019-01-22 20:35] arnaudbroes commented on #273
@wpsmort
![image](https://user-images.githubusercontent.com/18156697/51563799-accf4e80-1e8d-11e9-8f35-9ea1f4f37f85.png)

[2019-01-22 20:43] wpsmort commented on #273
@arnaudbroes I believe this is a caching issue.  Please try now.

[2019-01-22 21:02] arnaudbroes commented on #273
@wpsmort good now. Server cache I'm guessing?

[2019-01-22 21:02] #273 closed

[2019-01-26 14:14] wpsmort commented on #277
Reported by Bob Thornton by email

[2019-01-29 21:52] wpsmort commented on #277
@arnaudbroes Can you look and see if you can fix the geocoding of locations on import as that is part of this issue.

[2019-01-30 18:12] arnaudbroes commented on #277
@wpsmort it does not; only after updating each location. I'll check where the API call is happening and fix it.

[2019-02-05 16:20] arnaudbroes commented on #270
Steve and I decided it's best that we drop support for this since HTML5 should work fine.

[2019-02-06 09:42] arnaudbroes opened #282 "Premium Support button not working"
This broke:

![image](https://user-images.githubusercontent.com/18156697/52332724-d3e45f00-29fb-11e9-80b7-17cd935df356.png)

[2019-02-06 14:26] wpsmort commented on #282
@arnaudbroes What specifically broke?  I checked on a couple of sites and it's working fine for me.  It links correctly to the Premium Support sub menu item - /wp-admin/admin.php?page=simplemap-help

[2019-02-07 14:27] arnaudbroes commented on #282
@wpsmort nevermind then, I thought that button was supposed to link to the support forum.

[2019-02-07 14:27] #282 closed

[2019-02-08 19:31] #277 closed

[2019-02-08 21:13] michaeltorbert opened #283 "Remove lang directory and its contents"
Since we're using the .org translation system.

[2019-02-08 21:13] michaeltorbert commented on #216
I'm closing this since we're removing the lang directory in #283

[2019-02-08 21:13] #216 closed

[2019-02-08 21:18] #283 closed

[2019-02-11 13:09] arnaudbroes opened #286 "Add option to display search from below map"

[2019-02-19 15:47] wpsmort opened #287 "Locations not geocoded when API Key has application restrictions in place"
Reported by Jonathan Heslop by email.

When you use Application Restrictions to restrict your API key to either a website or IP address, locations do not get geocoded.

To reproduce this, follow the instructions in our documentation (https://simplemap-plugin.com/documentation/setting-up-google-maps-api-key/) to set up an API Key and apply Application Restrictions as per step 9.  Enter the API key

[2019-03-04 21:12] wpsmort commented on #287
We found that this works if you use HTTPS for the URL in the Application Restrictions on Google's Cloud Console.  It doesn't work if you use HTTP.

@arnaudbroes Please confirm this and update the docs.

[2019-03-05 09:01] arnaudbroes commented on #287
This happens because the plugin is now calling Google's API over HTTPS. I've adjusted the documentation accordingly.

[2019-03-05 09:01] #287 closed

[2019-03-15 23:09] arnaudbroes opened #288 "Maps API and Geocode API don't support same restrictions"
The Maps API now only supports HTTP referrers, whereas the Geocode API now only supports IP referrers. We'll need to add another, dedicated Geocode API field to the plugin and make sure our Geocode API calls use that key.

Once this is done, we need to update the documentation accordingly.

[2019-04-18 18:40] arnaudbroes opened #289 "Add license key field for EDD"

[2019-04-18 18:41] arnaudbroes opened #290 "Integrate EDD code to validate license key"

[2019-04-18 18:42] arnaudbroes opened #291 "EDD support for Tender app or switch to Simple:Press"
We'll have to consider whether we want to continue using Tender app for SimpleMap support or switch to Simple:Press once EDD is up and running.

[2019-04-18 18:45] arnaudbroes opened #292 "Migrate old licenses to EDD"

[2019-04-18 18:48] michaeltorbert commented on #291
FIFY

[2019-06-14 14:53] philmccollam opened #293 "International Zip Codes Not Matching Correct Locations"
Hello — We are using the SimpleMap plugin for our international markets, and have started running into issues with the zip / postal code search field not searching in the correct locations.

Example: We have a location in Wien (Vienna), Austria — postal code 1110. When the user types 1110 into the search form, it returns the 'no results' response and moves the map to the opposite side of the count

[2019-06-14 15:35] wpsmort commented on #293
This is not a support forum, it is a development repository.

This is not a bug with SimpleMap, this is because searching for 1110 does not provide Google Maps enough information to return results.  You need to provide more information in the search such as city and postal code.

[2019-06-14 15:35] #293 closed

[2019-08-19 14:34] wpsmort opened #294 "Set default category"
Requested here http://support.simplemap-plugin.com/discussions/questions/1539-auto-select-category

Have a shortcode argument to set a default category that is selected in the category drop down or checkboxes.

[2019-10-08 06:59] arnaudbroes opened #295 "Fix mixed content resources loaded over HTTP"
[Google Chrome will start blocking mixed content in 2020. ](https://wptavern.com/google-chrome-announces-rollout-plan-for-blocking-mixed-content-beginning-january-2020)We load this URL over HTTP at the moment - http://www.google.com/intl/en_us/mapfiles/close.gif

[2019-12-12 23:12] gwynf commented on #81
Sorry, first ever github comment...
in classes/xml-search.php around line 210.
changing it to wpautop and removing the conditional bit:

`$the_content = wpautop( $value->post_content );
						$value->description = $the_content;`

Fixed the issue for me.

[2020-01-03 14:56] wpsmort opened #296 "Add a Back button to the single location page"
Requested by Ivan by email.

Ivan would like a Back button on the single location page that takes you back to the search results.  We'd need to maintain the search criteria entered and the results.

[2020-01-03 15:34] arnaudbroes commented on #296
Could easily done by POST'ing back to the previous page. Probably will only work when they click the button - not sure we can do the same thing if the navigate back another way.

[2020-02-10 22:52] wpsmort opened #297 "Remove all buy now links and change support details"
We have buy now and renew links in the plugin that need to be removed. We also need to remove the premium support widget and all links to TenderApp and direct customers to the contact form.

[2020-02-11 08:08] arnaudbroes commented on #297
Let me know if you need any help.

[2020-02-12 09:15] #297 closed